# Python | day 6 | dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is unordered, changeable and does not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

```python
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
```

https://www.w3schools.com/python/python_dictionaries.asp

### Exercise 1. 

1. Create a dictionary with an integer 5 as the key and "val" as its value.

In [ ]:
thisdict = {5: 'val'}

2. Create two lists: one that has 4 city names and another that has 4 landmarks in the city.

In [ ]:
cities = ['Madrid', 'Moscú', 'Berín', 'París']
land_marks = ['Cibeles', 'Plaza Roja', 'Reichstag', 'Campos elíseos']

3. Create a dictionary where the cities contained in the first list are the **keys** and the landmarks are the **values**.
```python
#example
places = {"Malaga": "Gibralfaro", 
         "Madrid": "Templo de Debod",
         "Granada": "La Alcazaba",
         "Barcelona": "Sagrada Familia"}
```

In [ ]:
places = {cities[0]: land_marks[0], cities[1]: land_marks[1], cities[2]: land_marks[2], cities[3]: land_marks[3]}

print(places)

4. Loop through the dictionary and print only the values of those keys starting with the letter **M**.

https://realpython.com/iterate-through-dictionary-python/

In [ ]:
for e in places:
    if e.startswith('M'):
        print(places[e])

5. Create a function that receives two lists `list1` and `list2` by parameter and returns a dictionary with each element of `list1` as keys and the elements of `list2` as values. Call the function with the lists you have created before to return the same dictionary you've created in question 3.

In [ ]:
def dict_creator (list_1, list_2):
    """
    ---What it does---
    This function creates a dictionary from two given lists.
    ---What it needs---
        - Two lists (list_1 and list_2)
    ---What it returns---
    A dictionary object.
    """
    print (f'1st list: {list_1}')
    print(f'2nd list: {list_2}')

    dictionary ={}
    
    # To avoid issues with list's lenght!
    if len(list_1) == len(list_2):
        lenght = len(list_1)

    elif len(list_1) > len(list_2):
        lenght = len(list_1)

    else:
        lenght = len(list_2)

    for e in range(lenght):
        dictionary[list_1[e]] = list_2[e]

    return dictionary

In [ ]:
dictionary_returned = dict_creator(cities, land_marks)
dictionary_returned

### Exercise 2.

1. Create an empty dictionary called dog.

In [ ]:
dog = {}

2. Add name, color, breed, legs, age to the dog dictionary.

In [ ]:
name= 'Colmillo'
color = 'Black'
breed = 'German shepherd'
legs = 4
age = 6

In [ ]:
dog['Name'] = name
dog['Color'] = color
dog['Breed'] = breed
dog['Legs'] = legs
dog['age'] = age

dog

{'Name': 'Colmillo',
 'Color': 'Black',
 'Breed': 'German shepherd',
 'Legs': 4,
 'age': 6}

3. Create a student dictionary and add first_name, last_name, age, skills, country, city and address as keys for the dictionary.

In [ ]:
student = {}

key_list = ['first_name', 'last_name', 'age', 'skills', 'country', 'city', 'address']
value_list = ['Moe', 'Szyslak', 46, ['Serving beer', 'Drunk toss-out', 'Criminal demenour'], 'US', 'Springfield', 'False Stret n123']

In [ ]:
for e in range(len(key_list)):
    student[key_list[e]] = value_list[e]

student

{'first_name': 'Moe',
 'last_name': 'Szyslak',
 'age': 46,
 'skills': ['Serving beer', 'Drunk toss-out', 'Criminal demenour'],
 'country': 'US',
 'city': 'Springfield',
 'address': 'False Stret n123'}

In [ ]:
student = dict_creator(key_list, value_list)
student

1st list: ['first_name', 'last_name', 'age', 'skills', 'country', 'city', 'address']
2nd list: ['Moe', 'Szyslak', 46, ['Serving beer', 'Drunk toss-out', 'Criminal demenour'], 'US', 'Springfield', 'False Stret n123']

{'first_name': 'Moe',
 'last_name': 'Szyslak',
 'age': 46,
 'skills': ['Serving beer', 'Drunk toss-out', 'Criminal demenour'],
 'country': 'US',
 'city': 'Springfield',
 'address': 'False Stret n123'}

4. Get the length of the student dictionary.

In [ ]:
len(student)

7

5. Get the value of skills and check the data type, it should be a list.

In [ ]:
type(student['skills'])

list

6. Modify the skills values by adding one or two skills.

In [ ]:
student['skills'].append('Reckless driving')
student['skills'].append('Hip-hop self defense')

student['skills']

['Serving beer',
 'Drunk toss-out',
 'Criminal demenour',
 'Reckless driving',
 'Hip-hop self defense']

7. Get the dictionary keys as a list.

In [ ]:
list(student.keys())

['first_name', 'last_name', 'age', 'skills', 'country', 'city', 'address']

8. Get the dictionary values as a list.

In [ ]:
list(student.values())

['Moe',
 'Szyslak',
 46,
 ['Serving beer',
  'Drunk toss-out',
  'Criminal demenour',
  'Reckless driving',
  'Hip-hop self defense'],
 'US',
 'Springfield',
 'False Stret n123']

9. Change the dictionary to a list of tuples using `items()` method

In [ ]:
student_items = student.items()
student_items

dict_items([('first_name', 'Moe'), ('last_name', 'Szyslak'), ('age', 46), ('skills', ['Serving beer', 'Drunk toss-out', 'Criminal demenour', 'Reckless driving', 'Hip-hop self defense']), ('country', 'US'), ('city', 'Springfield'), ('address', 'False Stret n123')])

10. Delete one of the items in the dictionary.

In [ ]:
del student['address']
student

{'first_name': 'Moe',
 'last_name': 'Szyslak',
 'age': 46,
 'skills': ['Serving beer',
  'Drunk toss-out',
  'Criminal demenour',
  'Reckless driving',
  'Hip-hop self defense'],
 'country': 'US',
 'city': 'Springfield'}

### Bonus Track

**Tómate un zumito a tu salud.**

!['daughter'](https://i.pinimg.com/originals/8f/35/28/8f35281e742e71be09697e7e6789b819.png)