# Test DS-FT April 2021

## Primera parte (tipo test):

https://forms.gle/24Eu5xuFGn6jNKpx9

-----------------

## Segunda parte, ejercicios prácticos:

* El test práctico consta de 5 ejercicios puntuables. 
* Cada uno se puntúa sobre 2,5. 
* La máxima nota es 10.

Antes de comenzar, cambia el nombre del archivo notebook poniéndole delante tu nombre y primer apellido:

* nombre_apellido_test_pract_apr_2021.ipynb

In [1]:
# Escribe tu nombre en la variable:
nombre_y_apellidos = "Marina Serrano"

#### Notas y pruebas de apoyo para contestar las preguntas tipo test
Esto no es necesario usarlo aunque verlo aquí te puede dar la respuesta a alguna de las preguntas tipo test.

Cualquier código aunque no esté correcto nos dirá más de ti que no escribir nada.

In [ ]:
# Ejemplo de como queremos ver el código para más de un intento:

# intento 1
your code
# intento 2
your code

In [10]:
# crea todas las celdas que necesites

## Ejercicios prácticos

#### Ejercicio 1.
En este ejercicio se va a crear una lista con los siguientes elementos. Primero, crearemos las variables que luego añadiremos a la lista. Las variables son las siguientes:

1. Crea una variable llamada `num_dni` de tipo Integer que represente el primer número de tu DNI. 
2. Crea una variable llamada `let_dni` de tipo String y que represente la letra de vuestro DNI.
3. Crea una variable llamada `tip_ord` de tipo Boolean True si usas Windows y False si usas Mac.
4. Crea una variable llamada `nada` de tipo None cuyo valor sea None.
5. Crea una variable llamada `lista_deseo` de tipo List que contenga los cuatro objetos que te llevarías a una isla desierta. Cada elemento ha de ser de tipo String y el tamaño de la lista ha de ser 4.
6. Crea una variable llamada `tupla_ropa` de tipo Tuple con la marca de la prenda superior, inferior y calzado que llevas puesto.
7. Crea una variable llamada `dict_info` con dos keys y dos values. Una key es 'nombre', teniendo como value vuestro nombre. Otra key es 'edad', teniendo como value vuestra edad.
8. Crea una variable llamada `flo_hor` con la hora actual separada por punto en vez de dos puntos. Ejemplo: si son las 10:06, el valor de la variable sería 10.06.

Añade todos estos elementos en una lista llamada `lista_examen` en el orden de aparición.

In [4]:
 # tu respuesta aquí
num_dni = 53994161
let_dni = "M"
tip_ord = True
nada = None
lista_deseo = ["crema", "herramientas", "tienda", "saco"]
tupla_ropa = ("Zara", "Calcedonia", "Aliexpress")
dict_info = {"nombre": "Marina", "edad":25}
flo_hor = 10.16

lista_examen = [num_dni, let_dni, tip_ord, nada, lista_deseo, tupla_ropa, dict_info, flo_hor]
print(lista_examen)

[53994161, 'M', True, None, ['crema', 'herramientas', 'tienda', 'saco'], ('Zara', 'Calcedonia', 'Aliexpress'), {'nombre': 'Marina', 'edad': 25}, 10.16]

#### Ejercicio 2. 

Para resolver este ejercicio necesitarás la lista del ejercicio anterior (`lista_examen`). Se recomeinda leer cada punto hasta el final antes de resolver el ejercicio.

Se repite para que quede aún más claro: **SOLO USAR LA VARIABLE** `lista_examen`. Usar las demás variables se calificará como error.  

1. Mostrar por pantalla, sin uso de funciones ni bucles: 
    - El segundo elemento de `lista_deseo` desde `lista_examen`.
    - El calzado que llevas puesto.
    - Vuestro nombre.
    - La hora almacenada concatenada con vuestra edad y el número de vuestro de DNI. No debe haber espacios entre la concatenación.
    - Si tenéis más de 20 años, el primer número de vuestro DNI es mayor a 7 y usas Mac, mostrar la posición 5 de `lista_examen`.

In [134]:
# tu respuesta aquí
print(lista_examen[4][1])
print(lista_examen[5][2])
print(lista_examen[6]["nombre"])
print(str(lista_examen[7]) + str(lista_examen[6]["edad"]) + str(lista_examen[0]))
if lista_examen[6]["edad"] > 20 and lista_examen[0] > 70000000 and lista_examen[2] == False:
    print(lista_examen[5])

herramientas
Aliexpress
Marina
10.162553994161

In [133]:
#otro intento para hacer mas limpio el primer numero de dni mayor que 7
x = str(lista_examen[0])
int(x[0]) >7
#Entonces sería
if lista_examen[6]["edad"] > 20 and int(x[0]) > 7 and lista_examen[2] == False:
    print(lista_examen[5])
else:
    print("At least it works")

At least it works

2. Mostrar por pantalla, con uso de un bucle `for`:
    - Todos los elementos de `lista_examen`.
    - Todos los elementos de `lista_deseo` desde `lista_examen`.
    - Todos los elementos que ocupen una posición menor a 4 en `lista_examen`.

In [29]:
# tu respuesta aquí
for i in lista_examen:
    print(i)

53994161
M
True
None
['crema', 'herramientas', 'tienda', 'saco']
('Zara', 'Calcedonia', 'Aliexpress')
{'nombre': 'Marina', 'edad': 25}
10.16

In [31]:
for i in lista_examen[4]:
        print(i)

crema
herramientas
tienda
saco

In [32]:
contador = 0
for i, elem in enumerate(lista_examen):
    if i < 4:
        print(elem)

53994161
M
True
None

3. Mostrar por pantalla, con uso de un bucle while: 
    - Todos los elementos de `tupla_ropa` seguido de la cadena `"-->"` y la `posición` (int) que ocupa en la tupla accediendo desde `lista_examen`. Se aconseja utilizar *`enumerate`*.
    - Cada key de `dict_info` seguido de la cadena ":" seguido de su value desde `lista_examen`.

In [43]:
# tu respuesta aquí
contador = 0
while contador < len(lista_examen[5]):
    print(str(lista_examen[5][contador]) +'-->'+ str(contador))
    contador += 1

Zara-->0
Calcedonia-->1
Aliexpress-->2

In [59]:
#intento 1
contador = 0
while contador < len(lista_examen[6]):
    enumerate(lista_examen[6].items())
    print(lista_examen[6] + 
    contador += 1

dict_items([('nombre', 'Marina'), ('edad', 25)])
dict_items([('nombre', 'Marina'), ('edad', 25)])

In [60]:
print(lista_examen[6]["nombre"])
print(lista_examen[6]["edad"])

Marina
25

In [74]:
#intento 2 , 
contador = 0
while contador < len(lista_examen[6]): 
    for key in lista_examen[6]:
        contador += 1
        print(key, ":", lista_examen[6][key])

nombre : Marina
edad : 25

In [ ]:
##CORRECCION
pos = 0
while pos < len(lista_examen[6]):
    clave = list(lista_examen[6])[pos]
    valor = lista_examen[6][clave]
    print(clave, ":", str(valor))
    pos += 1

In [42]:
lista_examen #Para acordarme

[53994161,
 'M',
 True,
 None,
 ['crema', 'herramientas', 'tienda', 'saco'],
 ('Zara', 'Calcedonia', 'Aliexpress'),
 {'nombre': 'Marina', 'edad': 25},
 10.16]

#### Ejercicio 3. 

Crea una función `ejercicio_3` que reciba un parámetro `arg1`. Este argumento se utilizará como la lista de tuplas con nombres de los alumnos y alturas de clase. La función ha de retornar la misma lista de tuplas pero sin la tupla que contiene tu nombre. La tupla que contiene tu nombre ha de encontrarse a través del **valor del String** con tu nombre. Es decir, la función borrará la tupla con tu nombre tanto si está en la primera posición, como en la posición N o la última. La función mostrará por pantalla la tupla modificada.

**Notas:** 

*- La lista de nombres y alturas está al final del notebook*

*- Añade la tupla con tu nombre y altura si no apareces en la lista* 

Ejemplos de llamada a la función y lo que devuelve la función en el caso en el que me llamo 'Manuel Alfonso' y con esta 'lista_nombres_alturas':

In [7]:
# NO EJECUTAR ESTA CELDA
lista_nombres_alturas = [("Manuel Alfonso", 1.75),("Jonathan Abbondanza",  1.70),("Nacho Fontal", 1.82)]
ejercicio_3(arg1=lista_nombres_alturas)

[('Jonathan Abbondanza', 1.7), ('Nacho Fontal', 1.82)]

In [9]:
# NO EJECUTAR ESTA CELDA
lista_nombres_alturas = [("Jonathan Abbondanza",  1.70),("Manuel Alfonso", 1.75),("Nacho Fontal", 1.82)]
ejercicio_3(arg1=lista_nombres_alturas)

[('Jonathan Abbondanza', 1.7), ('Nacho Fontal', 1.82)]

In [2]:
# tu respuesta aquí
lista_nombres_alturas = [("Gabriel Vázquez", 1.75),("Jonathan Abbondanza",  1.70),("Nacho Fontal", 1.82),("Javier Araiz", 1.80),('Jonathan Suarez', 1.86),('Sonia Cobo', 1.73), ('Jorge García', 1.79), ("Mary Meza", 1.52), ('Leonardo Frazzetto', 1.75), ("Nacho Astorga",1.78),("José Carlos Batista",1.70), ("Isabel Palomares", 1.78),("Marina Serrano", 1.54), ("Clara Piniella", 1.66), ("Gina Garrido", 1.63), ("Adrià Gallardo", 1.70), ("María García-Maroto", 1.64), ("Susana Vázquez",1.80), ("Mauro Garcia-Oliva", 1.77), ("Juan Bayon", 1.64), ("Miguel Barquero", 1.85), ("Borja Puig", 1.82), ("Pablo Martínez", 1.81), ("Xinru Yang", 1.60),("Pablo Díez", 1.84),("Karina Inche",1.61)]

-------------------------------------

In [86]:
def ejercicio_3(arg1):
    for i, tupla in enumerate(arg1): #Tuplas
        for elem in tupla: 
            if elem == "Marina Serrano":
                arg1.remove(tupla)
    return arg1

ejercicio_3(lista_nombres_alturas)

[('Gabriel Vázquez', 1.75),
 ('Jonathan Abbondanza', 1.7),
 ('Nacho Fontal', 1.82),
 ('Javier Araiz', 1.8),
 ('Jonathan Suarez', 1.86),
 ('Sonia Cobo', 1.73),
 ('Jorge García', 1.79),
 ('Mary Meza', 1.52),
 ('Leonardo Frazzetto', 1.75),
 ('Nacho Astorga', 1.78),
 ('José Carlos Batista', 1.7),
 ('Isabel Palomares', 1.78),
 ('Daniel Walker', 1.87),
 ('Clara Piniella', 1.66),
 ('Gina Garrido', 1.63),
 ('Adrià Gallardo', 1.7),
 ('María García-Maroto', 1.64),
 ('Susana Vázquez', 1.8),
 ('Mauro Garcia-Oliva', 1.77),
 ('Juan Bayon', 1.64),
 ('Miguel Barquero', 1.85),
 ('Borja Puig', 1.82),
 ('Pablo Martínez', 1.81),
 ('Xinru Yang', 1.6),
 ('Pablo Díez', 1.84),
 ('Karina Inche', 1.61)]

In [121]:
#método con input para guiarme en ejercicio 5
def ejercicio_3(arg1):
    x = input("¿Qué nombre quieres borrar?")
    for i, tupla in enumerate(arg1): #Tuplas
        for elem in tupla: 
            if elem == x.title():
                arg1.remove(tupla)
    return arg1

ejercicio_3(lista_nombres_alturas)

[('Jonathan Abbondanza', 1.7),
 ('Nacho Fontal', 1.82),
 ('Javier Araiz', 1.8),
 ('Jonathan Suarez', 1.86),
 ('Sonia Cobo', 1.73),
 ('Jorge García', 1.79),
 ('Mary Meza', 1.52),
 ('Leonardo Frazzetto', 1.75),
 ('Nacho Astorga', 1.78),
 ('José Carlos Batista', 1.7),
 ('Isabel Palomares', 1.78),
 ('Daniel Walker', 1.87),
 ('Clara Piniella', 1.66),
 ('Gina Garrido', 1.63),
 ('Adrià Gallardo', 1.7),
 ('María García-Maroto', 1.64),
 ('Susana Vázquez', 1.8),
 ('Mauro Garcia-Oliva', 1.77),
 ('Juan Bayon', 1.64),
 ('Miguel Barquero', 1.85),
 ('Borja Puig', 1.82),
 ('Pablo Martínez', 1.81),
 ('Xinru Yang', 1.6),
 ('Pablo Díez', 1.84),
 ('Karina Inche', 1.61)]

#### Ejercicio 4. 

Escribe una función `reverse_number` que reciba dos parámetros. Los parámetros son `cadena` y `n`. `cadena` será un string y `n` un entero. La función debe retornar un string que sea el string `cadena` al revés y que tenga concatenado el número `n` por cada caracter de `cadena`.  


**No se permite:**
- Usar la función built-in `reverse`
- Pasar el string `cadena` a otro tipo de variable (como list)* 
- Usar el `string slicing` [[::-1]]

Ejemplos de llamada a la función y lo que devuelve la función:

--------

>> print(reverse_number(cadena="aloh", n=3))

>>> h3o3l3a3

--------

>> print(reverse_number(cadena="otipep", n=85))

>>> p85e85p85i85t85o85

In [95]:
#Primer intento
cadena="aloh"
n=3

def reverse_number(candena, n):
    contador = 0
    for i, elem in enumerate(cadena):
        contador = contador - 1
        print(cadena[contador] + str(n))

reverse_number("aloh",3)

h3
o3
l3
a3

In [118]:
#Segundo intento
cadena="aloh"          
n=3

def reverse_number(candena, n):
    contador = 0
    espacio= ""
    for i in enumerate(cadena):
        contador = contador - 1
        espacio = espacio + cadena[contador] + str(n)
    return espacio

print(reverse_number("aloh",3))
print(reverse_number("otipep",85))

h3o3l3a3
h85o85l85a85

#### Ejercicio 5:
 Crea una función `ejercicio_5` que reciba dos parámetros `arg1` y `arg2`. `arg1` es la misma lista de tuplas con los nombres y alturas que la del ejercicio 3 y `arg2` representa un nombre. 
Crea un programa que pida al usuario *indefinidamente* un nombre y, cada vez que lo introduzca, intente borrar de `arg1` la tupla con el nombre introducido usando la función `ejercicio_5`:

1. Si existe el nombre `arg2` dentro de la `arg1` la función mostrará por pantalla la tupla modificada

2. Si el nombre `arg2` no está en la lista `arg1` la función mostrará por pantalla el string "Ese 
nombre no está dentro de la lista"

3. Solo en el caso en el que el usuario escriba la palabra *'STOP'* se parará el programa.

**Notas:** 

*- La lista de nombres y alturas está al final del notebook*

*- Añade la tupla con tu nombre y altura si no apareces en la lista*

In [ ]:
#Para acordarme
def ejercicio_3(arg1):
    x = input("¿Qué nombre quieres borrar?")
    for i, tupla in enumerate(arg1): #Tuplas
        for elem in tupla: 
            if elem == x.title():
                arg1.remove(tupla)
    return arg1

In [123]:
# intento 1
def ejercicio_5(arg1, arg2):
        for i, tupla in enumerate(arg1): #Tuplas
            for elem in tupla: #nombres
                if elem == arg2.title():
                    arg1.remove(tupla)
                    return arg1
                elif elem != arg2.title():
                    return "Ese nombre no está dentro de la lista"
                elif arg2 == "STOP":
                    print("Has detenido el programa")
                    break

ejercicio_5(lista_nombres_alturas,)

TypeError: ejercicio_5() missing 1 required positional argument: 'arg2'

In [149]:
#Intento 2 , me confundió la peticion de nombre al usuario y el que haya un nombre como parámetro y porque habia entendido que ehl while debia ir en la funcion pero nup, es mas valido el 3 donde lo uno todo
def ejercicio_5(arg1, arg2):
    while True:
        nombre = input("¿Qué nombre quieres borrar?")
        for i, tupla in enumerate(arg1): #Tuplas
            for elem in tupla: #nombres
                if elem == arg2.title():
                    arg1.remove(tupla)
                    print(arg1)
                    break
                if elem == nombre.title():
                    arg1.remove(tupla)
                    return arg1
                elif elem != nombre:
                    return "Ese nombre no está dentro de la lista"
                elif nombre == "STOP":
                    return "Has detenido el programa"

ejercicio_5(lista_nombres_alturas,"nombre")

'Ese nombre no está dentro de la lista'

In [153]:
# intento 3 ya a ultima hora
def ejercicio_5(arg1, arg2):
        for i, tupla in enumerate(arg1): #Tuplas
            for elem in tupla: #nombres
                if elem == arg2.title():
                    arg1.remove(tupla)
                    return arg1
                elif elem != arg2.title():
                    return "Ese nombre no está dentro de la lista"
                elif arg2 == "STOP":
                    print("Has detenido el programa")
                    break

In [ ]:
while True:
    arg2 = (input("¿Qué nombre quieres borrar?"))
    ejercicio_5(lista_nombres_alturas, arg2)

In [ ]:
#CORRECCION

def ejercicio_5(arg1, arg2):
            for etupla in arg1:
                if tupla[0] == arg2:
                    arg1.remove(tupla)ç
                    se_ha_borrado = True
                    return tupla
while True:
    nombre = input("Dame un nombre")
    if nombre == "STOP":
        break
    ejercicio_5(arg1=lista_nombres_alturas, arg2 = nombre)

In [150]:
# La lista a usar del ejercicio 3 y 5. Recuerda añadir la tupla con tu información si no está. 

lista_nombres_alturas = [("Gabriel Vázquez", 1.75),("Jonathan Abbondanza",  1.70),("Nacho Fontal", 1.82),("Javier Araiz", 1.80),('Jonathan Suarez', 1.86),('Sonia Cobo', 1.73), ('Jorge García', 1.79), ("Mary Meza", 1.52), ('Leonardo Frazzetto', 1.75), ("Nacho Astorga",1.78),("José Carlos Batista",1.70), ("Isabel Palomares", 1.78),("Marina Serrano", 1.54), ("Daniel Walker", 1.87), ("Clara Piniella", 1.66), ("Gina Garrido", 1.63), ("Adrià Gallardo", 1.70), ("María García-Maroto", 1.64), ("Susana Vázquez",1.80), ("Mauro Garcia-Oliva", 1.77), ("Juan Bayon", 1.64), ("Miguel Barquero", 1.85), ("Borja Puig", 1.82), ("Pablo Martínez", 1.81), ("Xinru Yang", 1.60),("Pablo Díez", 1.84),("Karina Inche",1.61)]

lista_nombres_alturas

[('Gabriel Vázquez', 1.75),
 ('Jonathan Abbondanza', 1.7),
 ('Nacho Fontal', 1.82),
 ('Javier Araiz', 1.8),
 ('Jonathan Suarez', 1.86),
 ('Sonia Cobo', 1.73),
 ('Jorge García', 1.79),
 ('Mary Meza', 1.52),
 ('Leonardo Frazzetto', 1.75),
 ('Nacho Astorga', 1.78),
 ('José Carlos Batista', 1.7),
 ('Isabel Palomares', 1.78),
 ('Marina Serrano', 1.54),
 ('Daniel Walker', 1.87),
 ('Clara Piniella', 1.66),
 ('Gina Garrido', 1.63),
 ('Adrià Gallardo', 1.7),
 ('María García-Maroto', 1.64),
 ('Susana Vázquez', 1.8),
 ('Mauro Garcia-Oliva', 1.77),
 ('Juan Bayon', 1.64),
 ('Miguel Barquero', 1.85),
 ('Borja Puig', 1.82),
 ('Pablo Martínez', 1.81),
 ('Xinru Yang', 1.6),
 ('Pablo Díez', 1.84),
 ('Karina Inche', 1.61)]