## üêç Ramp-up

#### Collections
1. Create a tuple as follows (10,2,27,8)
2. Get the lenght of the tuple
3. Which type is it? And which type are the elements the tuple contains?
4. Create a new tuple with any other 4 strings and concatenate all of them with the tuple you created before by position, creating a list called `words`.
5. Make a list with the same elements in question 1. Find the element 27 and make it 37.
6. Remove the number 8 from the list.
7. Turn the list you made before into a set.
8. Check if the element "3" is in that set.
9. Sort the list you made in exercise 4 in descending order.
10. Turn the list `words` into a dictionary. Split every string taking the number in the tuple (10,2,27,8) as the values and the rest as the keys.
11. Sum up the values of the new dictionary.
12. Sort the values of the dictionary in descending order and the keys in ascending order, then make a list of tuples with every couple of keys and values by position.

In [ ]:
# 1
tupli = (10,2,27,8)

In [ ]:
# 2
len(tupli)

4

In [ ]:
# 3
print(type(tupli))
print()

for elem in tupli:
    print(f"{elem} es de tipo {type(elem)}")

<class 'tuple'>

10 es de tipo <class 'int'>
2 es de tipo <class 'int'>
27 es de tipo <class 'int'>
8 es de tipo <class 'int'>

In [ ]:
# 4
words = []
tup = ("a", "b", "c", "d")

for i, elem in enumerate(tupli):
    words.append(tup[i] + str(elem))
    
words

['a10', 'b2', 'c27', 'd8']

In [ ]:
# 5 
lista = list(tupli)

print("antes: ", lista)
for i, e in enumerate(lista):
    if e == 27:
        lista[i] = 37

print("despues: ", lista)

antes:  [10, 2, 27, 8]
despues:  [10, 2, 37, 8]

In [ ]:
# 6

lista.remove(8)

In [ ]:
# 7
seti = set(lista)
seti

{2, 10, 37}

In [ ]:
# 8
"3" in seti

False

In [ ]:
# 9
words.sort(reverse = True)
words

['d8', 'c27', 'b2', 'a10']

In [ ]:
# 10
dictionary = {}

for e in words:
    dic_key = ""
    dic_val = ""
    for letra in e:
        if letra.isnumeric():
            dic_val += letra
        else:
            dic_key += letra
    dictionary[dic_key] = int(dic_val)

dictionary

{'d': 8, 'c': 27, 'b': 2, 'a': 10}

In [ ]:
# 11
cont = 0
for e in dictionary.values():
    cont += e
    
cont

47

In [ ]:
# 12
lista1 = []
lista2 = []
for k,v in dictionary.items():
    lista1.append(k)
    lista2.append(v)
lista1.sort()
lista2.sort(reverse = True)

tuplas = []
for i,e in enumerate(lista1):
    tuplas.append((e, lista2[i]))
    
tuplas

[('a', 27), ('b', 10), ('c', 8), ('d', 2)]

#### Dictionaries

1. Make a dictionary containing three major rivers and the country each river runs through. One key-value pair might be 'nile': 'egypt'.

    - Use a loop to print a sentence about each river, such as The Nile runs through Egypt.
    - Use a loop to print the name of each river included in the dictionary.
    - Use a loop to print the name of each country included in the dictionary.

In [ ]:
rivers = {
    'nile': 'egypt',
    'mississippi': 'united states',
    'fraser': 'canada',
    'kuskokwim': 'alaska',
    'yangtze': 'china',
    }

for river, country in rivers.items():
    print(f"The {river.title()} flows through {country.title()}.")

print("\nThe following rivers are included in this data set:")
for river in rivers.keys():
    print(f"- {river.title()}")

print("\nThe following countries are included in this data set:")
for country in rivers.values():
    print(f"- {country.title()}")

The Nile flows through Egypt.
The Mississippi flows through United States.
The Fraser flows through Canada.
The Kuskokwim flows through Alaska.
The Yangtze flows through China.

The following rivers are included in this data set:
- Nile
- Mississippi
- Fraser
- Kuskokwim
- Yangtze

The following countries are included in this data set:
- Egypt
- United States
- Canada
- Alaska
- China

2. Use the provided dictionary that shows some coders and their favoites languages.
```Python
favorite_languages = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python',
    }
```

    - Make a list of people who should take the favorite languages poll. Include some names that are already in the dictionary and some that are not.
    - Loop through the list of people who should take the poll. If they have already taken the poll, print a message thanking them for responding. If they have not yet taken the poll, print a message inviting them to take the poll.

In [1]:
favorite_languages = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python',
    }

# your code here

for name, language in favorite_languages.items():
    print(name.title() + "'s favorite language is " +
        language.title() + ".")

print("\n")

coders = ['phil', 'josh', 'david', 'becca', 'sarah', 'matt', 'danielle']
for coder in coders:
    if coder in favorite_languages.keys():
        print("Thank you for taking the poll, " + coder.title() + "!")
    else:
        print(coder.title() + ", what's your favorite programming language?")

Jen's favorite language is Python.
Sarah's favorite language is C.
Edward's favorite language is Ruby.
Phil's favorite language is Python.


Thank you for taking the poll, Phil!
Josh, what's your favorite programming language?
David, what's your favorite programming language?
Becca, what's your favorite programming language?
Thank you for taking the poll, Sarah!
Matt, what's your favorite programming language?
Danielle, what's your favorite programming language?

3. Make a dictionary called cities. Use the names of three cities as keys in your dictionary. Create a dictionary of information about each city and include the country that the city is in, its approximate population, and one fact about that city. The keys for each city‚Äôs dictionary should be something like country, population, and fact. Print the name of each city and all of the information you have stored about it.

In [ ]:
cities = {
    'santiago': {
        'country': 'chile',
        'population': 6_310_000,
        'nearby mountains': 'andes',
        },
    'talkeetna': {
        'country': 'united states',
        'population': 876,
        'nearby mountains': 'alaska range',
        },
    'kathmandu': {
        'country': 'nepal',
        'population': 975_453,
        'nearby mountains': 'himilaya',
        }
    }

for city, city_info in cities.items():
    country = city_info['country'].title()
    population = city_info['population']
    mountains = city_info['nearby mountains'].title()

    print(f"\n{city.title()} is in {country}.")
    print(f"  It has a population of about {population}.")
    print(f"  The {mountains} mounats are nearby.")

Santiago is in Chile.
  It has a population of about 6310000.
  The Andes mounats are nearby.

Talkeetna is in United States.
  It has a population of about 876.
  The Alaska Range mounats are nearby.

Kathmandu is in Nepal.
  It has a population of about 975453.
  The Himilaya mounats are nearby.

**for loop**
1. This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using a for loop.

In [ ]:
frutas = ['banana', 'orange', 'mango', 'lemon']

for i in range(len(frutas)-1, -1, -1): #start, stop, step
    frutas.append(frutas[i])
    frutas.remove(frutas[i])
    
frutas

['lemon', 'mango', 'orange', 'banana']

2. Write a Python program to create the multiplication table (from 1 to 10) of a number.
```python
Input a number: 5                                                                                             
5 x 1 = 5                                                                                                     
5 x 2 = 10                                                                                                    
5 x 3 = 15                                                                                                    
5 x 4 = 20                                                                                                    
5 x 5 = 25                                                                                                    
5 x 6 = 30                                                                                                    
5 x 7 = 35                                                                                                    
5 x 8 = 40                                                                                                    
5 x 9 = 45                                                                                                    
5 x 10 = 50
```

In [ ]:
n = int(input("Input a number: "))

for i in range(1,11):
    print(n,'x',i,'=',n*i)

Input a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

3. Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".
```python
Sample Output :
fizzbuzz
1
2
fizz
4
buzz
```

In [ ]:
for fizzbuzz in range(51):
    if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
        print("fizzbuzz")
        continue
    elif fizzbuzz % 3 == 0:
        print("fizz")
        continue
    elif fizzbuzz % 5 == 0:
        print("buzz")
        continue
    print(fizzbuzz)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

**functions**

1. Write a Python function to check whether a string is a pangram or not. 

Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    
For example : `"The quick brown fox jumps over the lazy dog"`

In [ ]:
def ispangram(str1, alphabet= 'abcdefghijklmnopqrstuvwxyz'):
    alphaset = set(alphabet)
    return alphaset <= set(str1.lower())
 
print(ispangram('The quick brown fox jumps over the lazy dog'))

True

2. Write a Python program to count the number of even and odd numbers from a series of numbers. 

```python
Sample numbers: numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
    
Expected Output:
Number of even numbers: 5
Number of odd numbers: 4
```

In [ ]:
def count_even(numbers):
    even, odd = 0, 0
    for num in numbers:
        if num%2!=0:
            even += 1
        else:
            odd += 1
    return even, odd

even, odd = count_even((1, 2, 3, 4, 5, 6, 7, 8, 9))

In [ ]:
print(f"Number of even numbers: {even}\nNumber of odd numbers: {odd}")

Number of even numbers: 5
Number of odd numbers: 4

#### functions & while loop
1. Write a program which keeps asking for numbers till the user writes 9999. In that case, the program returns the concatenation of every number as a string.

In [ ]:
num = None
suma = ''

while num != '9999':
    num = input("Intruce un numero --> ")
    if num != '9999':
        suma += num
        
print("El concatenado ha sido", suma)

Intruce un numero --> 1
Intruce un numero --> 2
Intruce un numero --> 3
Intruce un numero --> 4
Intruce un numero --> 67
Intruce un numero --> 9999
El concatenado ha sido 123467

2. Writes a function that asks a user for a pin code till they get it right... If they give a wrong answer three times the function returns "Your bank account has been blocked", otherwise, returns: "You got it right! You get full access to your money".

In [ ]:
def codigo_pin():
    pin = 1234
    intentos = 0
    while intentos < 3:
        codigo = int(input("Introduzca el codigo pin: "))
        if codigo == pin:
            return "You got it right! You get full access to your money!"
        else:
            intentos += 1
    return "Your bank account has been blocked"

codigo_pin()

Introduzca el codigo pin: 1235
Introduzca el codigo pin: 2222
Introduzca el codigo pin: 1236

'Your bank account has been blocked'

#### functions & for loop

1. Write a function that takes in a person's name, and prints out a greeting.
    - The greeting must be at least three lines, and the person's name must be in each line.
    - Use your function to greet at least three different people.
    - Store your three people in a list, and call your function from a for loop.

In [ ]:
def say_hi(name):
    print(f"Hola {name}\n¬øqu√© tal est√°s {name}?\nyo feliz de verte, {name}.")

nombres = ["Pepe", "Juan", "Elena"]

for e in nombres:
    say_hi(e)
    print()

Hola Pepe
¬øqu√© tal est√°s Pepe?
yo feliz de verte, Pepe.

Hola Juan
¬øqu√© tal est√°s Juan?
yo feliz de verte, Juan.

Hola Elena
¬øqu√© tal est√°s Elena?
yo feliz de verte, Elena.

2. Make a list that includes 3 or 4 games that you like to play and print a statement that tells the user what games you like.
    - Write a function that asks the user to tell you a game they like, and store the game in a variable such as `new_game`. 
    - If the user mentions one game you like to play, send a message asking to play together.
    - Otherwise ask for another game name. If the user tries your program 3 times and doesn't give a game name you like, then ask them to find another friend.

In [ ]:
games = ["sushi go", "dobble", "dixit"]

def are_we_friends(games_list):
    tries = 3
    for tri in range(3):
        if tries == 0:
            break
        new_game = input("¬øA qu√© juego te gusta jugar? ").lower()
        if new_game in games_list:
            return f"Podemos ser amigos y jugar a {new_game} juntos"
        tries -=1
    return f"Buscate otro amigo"

are_we_friends(games)

¬øA qu√© juego te gusta jugar? risk
¬øA qu√© juego te gusta jugar? doooble
¬øA qu√© juego te gusta jugar? sushigo

'Buscate otro amigo'

In [ ]:
are_we_friends(games)

¬øA qu√© juego te gusta jugar? risk
¬øA qu√© juego te gusta jugar? sushi go

'Podemos ser amigos y jugar a sushi go juntos'

#### write a mini-program
**Three is a Crowd**
- Make a list of names that includes at least four people.
- Write an if test that prints a message about the room being crowded, if there are more than three people in your list.
- Modify your list so that there are only two people in it. Use one of the methods for removing people from the list, don't just redefine the list.
- Run your if test again. There should be no output this time, because there are less than three people in the list.
- Store your if test in a function called something like `crowd_test`.

In [ ]:
nombres = ["Pepe", "Juan", "Elena", "Antonia"]

if len(nombres) >= 3:
    print('The room is too crowded.')

The room is too crowded.

In [ ]:
fuera = ["Pepe", "Juan"]

for fu in fuera:
    nombres.remove(fu)
    
if len(nombres) >= 3:
    print('The room is too crowded.')

In [ ]:
def crowd_test(lista):
    if len(lista) >= 3:
        print('The room is too crowded.')

**Three is a Crowd - Part 2**
- Save your program from *Three is a Crowd* under a new name.
- Add an `else` statement to your if tests. If the `else` statement is run, have it print a message that the room is not very crowded.

In [ ]:
def crowd_test_2(lista):
    if len(lista) >= 3:
        print('The room is too crowded.')
    else:
        print('The room is not very crowded.')

In [ ]:
crowd_test_2(nombres)

The room is too crowded.


**Six is a Mob**
- Save your program from *Three is a Crowd - Part 2* under a new name.
- Add some names to your list, so that there are at least six people in the list.
- Modify your tests so that
    - If there are more than 5 people, a message is printed about there being a mob in the room.
    - If there are 3-5 people, a message is printed about the room being crowded.
    - If there are 1 or 2 people, a message is printed about the room not being crowded.
    - If there are no people in the room, a message is printed abou the room being empty.

In [ ]:
new_friends = ["Maria", "Carlota"]

for friend in new_friends:
    nombres.append(friend)

nombres

['Pepe', 'Juan', 'Elena', 'Antonia', 'Maria', 'Carlota']

In [ ]:
def crowd_test_3(lista):
    if len(lista) > 5:
        return 'There is a mob in the room.'
    elif len(lista) >= 3:
        print('The room is too crowded.')
    elif len(lista) > 0:
        print('The room is not very crowded.')
    else:
        return 'The room is empty'
        
crowd_test_3(nombres)

'There is a mob in the room.'