# Python | day 1 | variables

Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.

Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.

### Exercise 1.

1. Write a python comment saying _'My very first python code:'_

In [3]:
# My very first python code:

2. Declare a **first name** variable and assign a value to it

In [2]:
firstname = "Marina"

3. Declare a **last name** variable and assign a value to it

In [4]:
lastname = "Serrano"

4. Declare a **full name** variable and assign a value to it

In [5]:
fullname = "Marina Serrano"

In [16]:
fullname = firstname + " " + lastname
print(fullname)

Marina Serrano

5. Declare a **country** variable and assign a value to it

In [6]:
country = "Russia"

6. Declare a **city** variable and assign a value to it

In [7]:
city = "Berlin"

7. Declare an **age** variable and assign a value to it

In [8]:
age = 25

8. Declare a **year** variable and assign a value to it

In [9]:
year = 2021

9. Declare a variable **is_married** and assign a value to it

In [10]:
is_married = False

10. Declare a variable **is_true** and assign a value to it

In [11]:
is_true = True

11. Declare a variable **is_light_on** and assign a value to it

In [12]:
is_light_on = True

## Exercise 2. 

1. Check the data type of all your variables using `type()` built-in function

In [13]:
print(type(firstname))
print(type(lastname))
print(type(fullname))
print(type(country))
print(type(city))
print(type(age))
print(type(year))
print(type(is_married))
print(type(is_true))
print(type(is_light_on))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

Turn the variable **age**, which should be *integer*, into type *float*. This action is known as cast a variable.

In [14]:
float(age)

25.0

2. Using the `len()` built-in function find the length of your first name

In [15]:
len(firstname)

6

3. Compare the length of your first name and your last name

In [17]:
len(firstname) == len(lastname)

False

In [18]:
len(firstname) < len(lastname)

True

4. Declare 5 as **num_one** and 4 as **num_two**

In [20]:
num_one = 5
num_two = 4

5. Add **num_one** and **num_two** and assign the value to a variable **_total**

In [24]:
_total = num_one + num_two
print(_total)

9

6. Subtract num_two from num_one and assign the value to a variable _diff

In [25]:
_diff = num_one - num_two
print(_diff)

1

7. Multiply **num_two** and **num_one** and assign the value to a variable **_product**

In [ ]:
_product = num_one * num_two

8. Divide **num_one** by **num_two** and assign the value to a variable **_division**

In [26]:
_division = num_one / num_two
print(_division)

1.25

9. Use modulus division to find **num_two** divided by **num_one** and assign the value to a variable **_remainder**

In [27]:
_remainder = num_two % num_one
print(_remainder)

4

10. Calculate **num_one** to the power of **num_two** and assign the value to variable **_exp**

In [28]:
_exp = num_one ** num_two

11. Find floor division of **num_one** by **num_two** and assign the value to a variable **_floor_division**

In [29]:
_floor_division = num_one // num_two
print(_floor_division)

1

## Bonus track.

12. The radius of a circle is 30 meters. 
    Calculate the area of a circle and assign the value to a variable **area_of_circle**

13. Calculate the circumference of a circle and assign the value to a variable **circum_of_circle**

14. Take radius as user input and calculate the area.

15. Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names

16. What is a reserved word in Python? Run `help('keywords')` to check for the reserved words.

**Well done!**

![h](https://i.pinimg.com/originals/11/b4/20/11b420fbf1595be3056ad6355277933c.jpg)