# Python | day 1 | collections

Lists, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 

Print the created list.

In [ ]:
student_list = alumnos = ["Xinru Yang wang", "Adrià Gallardo Viñas", "Leonardo Gastón Frazzetto", "Mary Cruz Meza Rivas", "Isabel Palomares Tornero",\
 "Pablo Eduardo Martínez", "Miguel Barquero del Pozo", "Ignacio Fontal Patac", "Jonathan Abbondanza Yanez", "MAURO GARCIA-OLIVA",\
 "Daniel Walker", "José Carlos Batista Rivero", "Jorgina Garrido Casas", "Juan Bayon Fernandez", "Jorge García Navarro",\
 "Susana Vázquez Rodriguez", "Sonia Cobo Pacios", "Jonathan Suarez", "Ignacio Astorga","KARINA INCHE", "Pablo Diez Trujillo"\
 "Marina Serrano Carot", "Maryam Ghaderi", "Javier Araiz Miranda", "María García Maroto"]


student_list

['Xinru Yang wang',
 'Adrià Gallardo Viñas',
 'Leonardo Gastón Frazzetto',
 'Mary Cruz Meza Rivas',
 'Isabel Palomares Tornero',
 'Pablo Eduardo Martínez',
 'Miguel Barquero del Pozo',
 'Ignacio Fontal Patac',
 'Jonathan Abbondanza Yanez',
 'MAURO GARCIA-OLIVA',
 'Daniel Walker',
 'José Carlos Batista Rivero',
 'Jorgina Garrido Casas',
 'Juan Bayon Fernandez',
 'Jorge García Navarro',
 'Susana Vázquez Rodriguez',
 'Sonia Cobo Pacios',
 'Jonathan Suarez',
 'Ignacio Astorga',
 'KARINA INCHE',
 'Pablo Diez TrujilloMarina Serrano Carot',
 'Maryam Ghaderi',
 'Javier Araiz Miranda',
 'María García Maroto']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [ ]:
empty_list = []

2. Create a list with 5 items, call it **my_list**

In [ ]:
my_list = ['M1 Abrams', 'M4 Sherman', 'M24 Chaffe', 'M3 Stuart', 'M3 Lee']

3. Find the length of **my_list**

In [ ]:
len(my_list)

5

4. Get the first item, the middle item and the last item of **my_list**

In [ ]:
first = my_list[0]
middle = my_list[int(len(my_list)/2)]
last = my_list[-1]

print (f'First: {first}\nMiddle: {middle}\nLast: {last}')

First: M1 Abrams
Middle: M24 Chaffe
Last: M3 Lee

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [ ]:
name = 'George S.'
age = 60
height = 1.68
country = 'US'
python_version = '3.9.0 64-bit'

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [ ]:
mixed_data_type = [name, age, height, country, python_version]

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']


8. Print **it_companies** using print()

In [ ]:
print (it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [ ]:
print(len(it_companies))

7

11. Print *Google*

In [ ]:
print(it_companies[1])

Google

10. Print the first, middle and last company

In [ ]:
first = it_companies[0]
middle = it_companies[int(len(it_companies)/2)]
last = it_companies[-1]

print (f'First: {first}\nMiddle: {middle}\nLast: {last}')

First: Facebook
Middle: Apple
Last: Amazon

11. Assign a new value to the last element of the list

In [ ]:
it_companies[-1] = 'Spitting Image'
it_companies[-1]

'Spitting Image'

12. Print the list after modifying one of the companies

In [ ]:
it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Spitting Image']

## Bonus track.

13. Add an IT company to **it_companies**

In [ ]:
it_companies.append('Id software')

14. Check if *Apple* exists in the **it_companies** list.

In [ ]:
if 'apple' in it_companies:
    print('Yes')
elif 'Apple' in it_companies:
    print('The TA forgot to capitalize "apple" above and added this...\nBut, yes')
else:
    print('No')

The TA forgot to capitalize "apple" above and added this...
But, yes

15. Sort the list using `sort()` method

In [ ]:
print(it_companies)
it_companies.sort()

print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Spitting Image', 'Id software']
['Apple', 'Facebook', 'Google', 'IBM', 'Id software', 'Microsoft', 'Oracle', 'Spitting Image']

16. Reverse the list in descending order using `reverse()` method

In [ ]:
print(it_companies)
it_companies.reverse()

print(it_companies)

['Apple', 'Facebook', 'Google', 'IBM', 'Id software', 'Microsoft', 'Oracle', 'Spitting Image']
['Spitting Image', 'Oracle', 'Microsoft', 'Id software', 'IBM', 'Google', 'Facebook', 'Apple']

17. Slice out the first 3 companies from the list

In [ ]:
it_companies_2 = it_companies[:3]
it_companies_2

['Spitting Image', 'Oracle', 'Microsoft']

18. Remove the last IT company from the list

In [ ]:
print(it_companies[-1])
it_companies.remove(it_companies[-1])

print(it_companies[-1])

Apple
Facebook

19. Remove all IT companies from the list

In [ ]:
print(len(it_companies))
it_companies.clear()

print(len(it_companies))

7
0

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [ ]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

joined = front_end + back_end
joined

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [ ]:
print (joined[0][0])

HTML

22. From the end list print the 'C' from the word 'CSS'

In [ ]:
print (joined[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [ ]:
tup = ('Great',)
print(tup)

('Great',)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [ ]:
print(type(tup))

<class 'tuple'>

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [ ]:
tup = ("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")
print(tup)

('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",

EDIT. Reassing a value of your choice to **tup**

In [ ]:
tup = ("It's cold outside", "There's no kind of atmosphere", "I'm all alone", "... more or less")
tup

("It's cold outside",
 "There's no kind of atmosphere",
 "I'm all alone",
 '... more or less')

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [ ]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "borja", "borja", "borja", "monica", "monica", "clara", "gabriel", "gabriel", "gabriel"]

In [ ]:
my_set = set(lista_repes)
print(my_set)

{'borja', 'clara', 'data', 'monica', 'python', 'science', 'gabriel'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [ ]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [ ]:
my_set = list(my_set)
print(my_set[0])

borja