# Python | day 1 | collections

Lists, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 

Print the created list.

In [5]:
student_list = ["Adria Gallardo", "Daniel Acedo", "Daniel Walker", "Gina Garrido", "Isabel Palomares", "Javier Araiz", "Jonathan Abbondanza", "Jorge García", "José Carlos Batista", "Juan Bayón", "Karina Inche", "Leonardo Frazzetto", "María García-Maroto", "Marina Serrano", "Mary Cruz Meza", "Mauro García-Oliva", "Nacho Astorga", "Pablo Díez", "Pablo Martínez", "Sonia Cobo", "Susana Vázquez", "Xinru Yang"]
print(student_list)

['Adria Gallardo', 'Daniel Acedo', 'Daniel Walker', 'Gina Garrido', 'Isabel Palomares', 'Javier Araiz', 'Jonathan Abbondanza', 'Jorge García', 'José Carlos Batista', 'Juan Bayón', 'Karina Inche', 'Leonardo Frazzetto', 'María García-Maroto', 'Marina Serrano', 'Mary Cruz Meza', 'Mauro García-Oliva', 'Nacho Astorga', 'Pablo Díez', 'Pablo Martínez', 'Sonia Cobo', 'Susana Vázquez', 'Xinru Yang']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [6]:
empty_list = []

2. Create a list with 5 items, call it **my_list**

In [16]:
my_list = [1, 2, 3, 4, 5]

3. Find the length of **my_list**

In [8]:
len(my_list)

5

4. Get the first item, the middle item and the last item of **my_list**

In [25]:
print(my_list[0][2][4])

TypeError: 'int' object is not subscriptable

In [42]:
my_list2 = ["why", "do", "not","printing", "??" ]

In [43]:
print(my_list2[-5])
print(my_list2[-3])
print(my_list2[-1])

why
not
??

In [44]:
print(my_list[0])
print(my_list[2])
print(my_list[4])

1
3
5

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [33]:
name = "Marina"
age = 25
height = 154
country = "Germany"
python_version = 3.7

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [34]:
mixed_data_types = [name, age, height, country, python_version]
print(mixed_data_types)

['Marina', 25, 154, 'Germany', 3.7]

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [35]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]


8. Print **it_companies** using print()

In [36]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [37]:
len(it_companies)

7

11. Print *Google*

In [38]:
print(it_companies[1])

Google

10. Print the first, middle and last company

In [39]:
print(it_companies[0])
print(it_companies[3])
print(it_companies[6])

Facebook
Apple
Amazon

11. Assign a new value to the last element of the list

In [40]:
it_companies[6] = "Tesla"

12. Print the list after modifying one of the companies

In [41]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Tesla']

In [ ]:
# No me da tiempo a completar y entregar los Bonus track hoy pero quiero hacerlo así que lo haré junto a las tareas de mañana, si fuera posible tener acceso a su corrección para compararlo después por mi cuenta sería genial. Muchas gracias.

## Bonus track.

13. Add an IT company to **it_companies**

14. Check if *Apple* exists in the **it_companies** list.

15. Sort the list using `sort()` method

16. Reverse the list in descending order using `reverse()` method

17. Slice out the first 3 companies from the list

18. Remove the last IT company from the list

19. Remove all IT companies from the list

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

21. From the **end** list print 'HTML'

22. From the end list print the 'C' from the word 'CSS'

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [ ]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?