# Python | day 1 | variables

Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.

Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.

### Exercise 1.

1. Write a python comment saying _'My very first python code:'_

In [ ]:
# 'My very first python code:'

2. Declare a **first name** variable and assign a value to it

In [ ]:
first_name = "Doomguy"

3. Declare a **last name** variable and assign a value to it

In [ ]:
last_name = "Doom"

4. Declare a **full name** variable and assign a value to it

In [ ]:
full_name = "DoomGuy Doom"
full_name_2 = first_name + " " + last_name

print(f'{full_name}\n{full_name_2}')

DoomGuy Doom
Doomguy Doom

5. Declare a **country** variable and assign a value to it

In [ ]:
country = "USA"

6. Declare a **city** variable and assign a value to it

In [ ]:
city = "Los Angeles"

7. Declare an **age** variable and assign a value to it

In [ ]:
age = 105

8. Declare a **year** variable and assign a value to it

In [ ]:
year = 1984

9. Declare a variable **is_married** and assign a value to it

In [ ]:
is_married = "married"

# With booleans
is_married_2 = True

10. Declare a variable **is_true** and assign a value to it

In [ ]:
is_true = "NO"

# With booleans
is_true_2 = False

11. Declare a variable **is_light_on** and assign a value to it

In [ ]:
is_light_on = "Yes"

# With Booleans
is_light_on_2 = True

## Exercise 2. 

1. Check the data type of all your variables using `type()` built-in function

In [ ]:
print (type(first_name), type(last_name), type(full_name))
print ("----\n")

print (type(city), type(country))
print ("----\n")

print (type(age))
print ("----\n")

print (type(year))
print ("----\n")

print (type(is_married))
print (type(is_married_2))
print ("----\n")

print (type(is_true))
print (type(is_true_2))
print ("----\n")

print (type(is_true))
print (type(is_true_2))

<class 'str'> <class 'str'> <class 'str'>
----

<class 'str'> <class 'str'>
----

<class 'int'>
----

<class 'int'>
----

<class 'str'>
<class 'bool'>
----

<class 'str'>
<class 'bool'>
----

<class 'str'>
<class 'bool'>

Turn the variable **age**, which should be *integer*, into type *float*. This action is known as cast a variable.

In [ ]:
age_float = float(age)
print(age_float)

105.0

2. Using the `len()` built-in function find the length of your first name

In [ ]:
print(len(first_name))

7

3. Compare the length of your first name and your last name

In [ ]:
difference = len(first_name) - len(last_name)

print (f"Between {first_name} and {last_name} there is a difference of {difference} characters")

Between Doomguy and Doom there is a difference of 3 characters

4. Declare 5 as **num_one** and 4 as **num_two**

In [ ]:
num_one = 5
num_two = 4

5. Add **num_one** and **num_two** and assign the value to a variable **_total**

In [ ]:
_total = num_one + num_two
_total

9

6. Subtract num_two from num_one and assign the value to a variable _diff

In [ ]:
variable_diff = num_one - num_two
variable_diff

1

7. Multiply **num_two** and **num_one** and assign the value to a variable **_product**

In [ ]:
variable_product = num_one * num_two
variable_product

20

8. Divide **num_one** by **num_two** and assign the value to a variable **_division**

In [ ]:
variable_division = num_one / num_two
variable_division

1.25

9. Use modulus division to find **num_two** divided by **num_one** and assign the value to a variable **_remainder**

In [ ]:
_remainder = num_two % num_one
_remainder

4

10. Calculate **num_one** to the power of **num_two** and assign the value to variable **_exp**

In [ ]:
_exp = num_one ** num_two
_exp

625

11. Find floor division of **num_one** by **num_two** and assign the value to a variable **_floor_division**

In [ ]:
_floor_division = num_one // num_two
_floor_division

1

## Bonus track.

12. The radius of a circle is 30 meters. 
    Calculate the area of a circle and assign the value to a variable **area_of_circle**

In [ ]:
pi = 3.141692
radius = 6

_area_of_circle = pi * radius ** 2
print (_area_of_circle)

113.100912

In [ ]:
# Using the math library
import math

_area_of_circle_2 = math.pi * radius ** 2
print (_area_of_circle_2)

113.09733552923255

13. Calculate the circumference of a circle and assign the value to a variable **circum_of_circle**

In [ ]:
circum_of_circle = 2 * pi * radius
circum_of_circle

37.700304

In [ ]:
# Using the math library

circum_of_circle_2 = 2 * math.pi * radius
circum_of_circle_2

37.69911184307752

14. Take radius as user input and calculate the area.

In [ ]:
radius = int(input("Value of radius here: "))

_area_of_circle = pi * radius ** 2
_area_of_circle

Value of radius here: 3

28.275228

In [ ]:
# Using the math library

_area_of_circle_2 = math.pi * int(radius) ** 2
_area_of_circle_2

28.274333882308138

15. Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names

In [ ]:
first_name = input("Type your first name: ")
last_name = input("Type your last name: ")
country = input("Type your country: ")
age = input("Type your age: ")

print (f"My name is {first_name} {last_name}, I'm from {country} and I'm {age} years old")

Type your first name: Lisa
Type your last name: Simpson
Type your country: EEUU
Type your age: 8
My name is Lisa Simpson, I'm from EEUU and I'm 8 years old

16. What is a reserved word in Python? Run `help('keywords')` to check for the reserved words.

In [ ]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

**Well done!**

![h](https://i.pinimg.com/originals/11/b4/20/11b420fbf1595be3056ad6355277933c.jpg)