In [9]:
import pandas as pd
import numpy as np

In [10]:
df_empty = pd.DataFrame({'A' : []})
df_empty
Empty DataFrame
Columns: [A]
Index: []
df_empty.empty

SyntaxError: invalid syntax (<ipython-input-10-1ca4dae385d9>, line 3)

In [12]:
df = pd.DataFrame({1: "~", 2: "~",3: "~",4: "~",5: "~",6: "~",7: "~",8: "~",9: "~",10: "~"}, index = [1, 2, 3,4,5,6,7,8,9,10])
df

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

In [15]:
df.iloc[1:2,4:5] = 'X'
df

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  X  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

In [ ]:
tablero

In [16]:
def barco_1(df):

    fil = int(input("Introduce una fila"))
    col = int(input("Introduce una columna"))
    df.loc[fil,col] = "#"

    h_v = input("write horizontal o vertical")

    if h_v == "horizontal":
        fil = fil 
        col = col + 1
        df.loc[fil,col] = "#"

    if h_v == "vertical":
        fil = fil + 1
        col = col
        df.loc[fil,col] = "#"

    return df


barco_1(df)

   1  2  3  4  5  6  7  8  9  10
1   ~  #  #  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  X  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~