In [2]:
import pandas as pd

In [78]:
class Tablero:
    def __init__(self, dataframe):
        self.dataframe = dataframe
        print(dataframe)

In [80]:
 df = pd.DataFrame({1: "~", 2: "~",3: "~",4: "~",5: "~",6: "~",7: "~",8: "~",9: "~",10: "~"},index=[1, 2,3,4,5,6,7,8,9,10])
        
tablero1 = Tablero(df)
tablero1

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

In [82]:
tablero2 = Tablero(df)
tablero2

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

FALLOS A CORREGIR :
- PROCURAR QUE NO SE SOBREPONGAN LOS BARCOS
- DEJAR QUE HAYA UN ESPACIO AL MENOS ENTRE BARCOS, O HACER QUE EL COMIENZO Y EL FINAL DEL BARCO TENGAN UNA FORMA DISTINTA
- NO DEJAR QUE SE SALGAN LAS CASILLAS DEL TABLERO
- HAY QUE HACER CLASE CON EL TABLERO?
- HACER QUE SI PONEMOS COORDENADAS DONDE YA HAY BARCO NO AUMENTAR EL CONTADOR

In [68]:
tablero1 = pd.DataFrame({1: "~", 2: "~",3: "~",4: "~",5: "~",6: "~",7: "~",8: "~",9: "~",10: "~"},index=[1, 2,3,4,5,6,7,8,9,10])
tablero1

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

In [69]:
class Barco:
    def __init__(self, df): 
        self.df = df

    def colocar_barco(self, size, df):
        self.size = size

        fil = int(input("Introduce la coordenada fila"))
        col = int(input("Introduce la coordenada columna"))

        if df.loc[fil,col] == "#":
            print("Ops! ThereÂ´s already a boat,try again!")


        else:
            h_v = input("escribe 'h' si quieres horizontal o 'v' si quieres vertical")

            if h_v == "h":
                fil = fil 
                col_f = col + size -1
                df.loc[fil,col:col_f] = "#"
                print(tablero1)
            #df.loc[4,5:5+2]

            if h_v == "v":
                fil_f = fil + size -1
                col = col
                df.loc[fil:fil_f,col] = "#"
                print(tablero1)

            return df

In [70]:
barco_pequeÃ±o = Barco(tablero1)
tablero1

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

In [20]:
barco_pequeÃ±o.colocar_barco(2,tablero1)

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  #  #  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

In [66]:
barco_medio = Barco(tablero1)
barco_medio.colocar_barco(3,tablero1)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
barco_grande = Barco(tablero1)
barco_grande.colocar_barco(4,tablero1)

In [ ]:
barco_gigante = Barco(tablero1)
barco_gigante.colocar_barco(4,tablero1)

In [71]:
def coloca_tus_barcos(n,barco,tamaÃ±o):
    contador = 1
    while contador < n: 
        print(f'Coloca el barco{contador} de tamaÃ±o {tamaÃ±o}')
        print("contador:",contador)
        barco.colocar_barco(2,tablero1)
        contador +=1 

    return tablero1

coloca_tus_barcos(5, barco_pequeÃ±o, "pequeÃ±o")

Coloca el barco1 de tamaÃ±o pequeÃ±o
contador: 1
   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  #  #  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
Coloca el barco2 de tamaÃ±o pequeÃ±o
contador: 2
   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  #  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  #  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  #  #  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
Coloca el barco3 de tamaÃ±o pequeÃ±o
contador: 3
   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  #  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  #  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  #  #  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  #  #  ~  ~  ~  ~  ~  ~  ~  ~
Coloca el barco4 de tamaÃ±o pequeÃ±o
contador: 4
   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  #  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  #  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  #  #  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  #  #  ~  ~  ~  ~  ~  ~  ~  #

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  #  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  #  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  #  #  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  #  #  ~  ~  ~  ~  ~  ~  ~  #

In [ ]:
# AquÃ­ empezarÃ­amos a jugar colocando los barcos: 
# Hacer un random para saber quiÃ©n empieza a jugar, creo que con diccionario asociado a nombres estarÃ­a bien para hacer un random entre 1 y 0 y asociar esos numeros a un nombre de usuario
coloca_tus_barcos(5, barco_pequeÃ±o, "pequeÃ±o")
coloca_tus_barcos(4, barco_mediano, "mediano")
coloca_tus_barcos(5, barco_grande, "grande")
coloca_tus_barcos(5, barco_pequeÃ±o, "gigante")