# Python | day 6 | dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is unordered, changeable and does not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

```python
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
```

https://www.w3schools.com/python/python_dictionaries.asp

### Exercise 1. 

1. Create a dictionary with an integer 5 as the key and "val" as its value.

In [2]:
diccionario ={5:"val"}
diccionario

{5: 'val'}

2. Create two lists: one that has 4 city names and another that has 4 landmarks in the city.

In [1]:
ciudades = ["Madrid", "Barcelona", "Londres", "Berlin"]
monumentos = ["Templo de Debod", "Sagrada Familia", "Big Ben", "Puerta de Branderburgo"]

3. Create a dictionary where the cities contained in the first list are the **keys** and the landmarks are the **values**.
```python
#example
places = {"Malaga": "Gibralfaro", 
         "Madrid": "Templo de Debod",
         "Granada": "La Alcazaba",
         "Barcelona": "Sagrada Familia"}
```

In [3]:
lugares = {}
for i in range(len(ciudades)):
    lugares[ciudades[i]] = monumentos[i]

print(lugares)

{'Madrid': 'Templo de Debod', 'Barcelona': 'Sagrada Familia', 'Londres': 'Big Ben', 'Berlin': 'Puerta de Branderburgo'}

4. Loop through the dictionary and print only the values of those keys starting with the letter **M**.

https://realpython.com/iterate-through-dictionary-python/

In [40]:
for key, value in lugares.items():
    if key[0] == "M":
        print(value)

Templo de Debod

5. Create a function that receives two lists `list1` and `list2` by parameter and returns a dictionary with each element of `list1` as keys and the elements of `list2` as values. Call the function with the lists you have created before to return the same dictionary you've created in question 3.

In [11]:
def dic(list1, list2):
    diccionario = {}
    for i in range(len(list1)):
        diccionario[list1[i]] = list2[i]
    return diccionario

In [12]:
dic(ciudades,monumentos)

{'Madrid': 'Templo de Debod',
 'Barcelona': 'Sagrada Familia',
 'Londres': 'Big Ben',
 'Berlin': 'Puerta de Branderburgo'}

### Exercise 2.

1. Create an empty dictionary called dog.

In [20]:
dog = {}

2. Add name, color, breed, legs, age to the dog dictionary.

In [26]:
keysdog = ["name", "color", "breed", "legs", "age"]
mydog = ["Jazz", "Black and White", "Border Collie", 4, 7]

In [27]:
dog = {}
for i in range(len(keysdog)):
    dog[keysdog[i]] = mydog[i]
dog

{'name': 'Jazz',
 'color': 'Black and White',
 'breed': 'Border Collie',
 'legs': 4,
 'age': 7}

3. Create a student dictionary and add first_name, last_name, age, skills, country, city and address as keys for the dictionary.

In [78]:
student_data = ["first_name", "last_name", "age", "skills", "country", "city", "address"]
student1 = ["Marina", "Serrano", 25, ["talkative","drama"], "Spain", "Madrid", "Calle Granada 10"]
student = {}
for elem in range(len(student_data)):
    student[student_data[elem]] = student1[elem]
student

{'first_name': 'Marina',
 'last_name': 'Serrano',
 'age': 25,
 'skills': ['talkative', 'drama'],
 'country': 'Spain',
 'city': 'Madrid',
 'address': 'Calle Granada 10'}

4. Get the length of the student dictionary.

In [34]:
len(student)

7

5. Get the value of skills and check the data type, it should be a list.

In [79]:
print(student["skills"])
print(type(student["skills"]))

['talkative', 'drama']
<class 'list'>

6. Modify the skills values by adding one or two skills.

In [80]:
student["skills"] = ["short", "patience" ]
print(student)

{'first_name': 'Marina', 'last_name': 'Serrano', 'age': 25, 'skills': ['short', 'patience'], 'country': 'Spain', 'city': 'Madrid', 'address': 'Calle Granada 10'}

In [81]:
#Anadir, no modificar
student["skills"].append("psychological")
print(student)

{'first_name': 'Marina', 'last_name': 'Serrano', 'age': 25, 'skills': ['short', 'patience', 'psychological'], 'country': 'Spain', 'city': 'Madrid', 'address': 'Calle Granada 10'}

7. Get the dictionary keys as a list.

In [63]:
lista_keys = student.keys()
print(lista_keys)

dict_keys(['first_name', 'last_name', 'age', 'skills', 'country', 'city', 'address'])

8. Get the dictionary values as a list.

In [64]:
lista_values = student.values()
print(lista_values)

dict_values(['Marina', 'Serrano', 25, ['talkative', 'drama'], 'Spain', 'Madrid', 'Calle Granada 10'])

9. Change the dictionary to a list of tuples using `items()` method

In [65]:
student_list = student.items()
print(student_list)

dict_items([('first_name', 'Marina'), ('last_name', 'Serrano'), ('age', 25), ('skills', ['talkative', 'drama']), ('country', 'Spain'), ('city', 'Madrid'), ('address', 'Calle Granada 10')])

10. Delete one of the items in the dictionary.

In [68]:
del student["address"]
print(student)

{'first_name': 'Marina', 'last_name': 'Serrano', 'age': 25, 'skills': ['talkative', 'drama'], 'country': 'Spain', 'city': 'Madrid'}

### Bonus Track

**TÃ³mate un zumito a tu salud.**

!['daughter'](https://i.pinimg.com/originals/8f/35/28/8f35281e742e71be09697e7e6789b819.png)