# Python | list/dict comprehension

List comprehension in Python is a compact way of creating a list from a sequence. It is a short way to create a new list. List comprehension is considerably faster than processing a list using the for loop.

```python
# syntax
[i for i in iterable if expression]
```

Dictionary comprehension is the same as list comprehension but with dictionaries. I know, you didn't see that coming.

```python
# syntax

{key: value for i in iterable}
```

- https://www.programiz.com/python-programming/list-comprehension
- https://www.programiz.com/python-programming/dictionary-comprehension

### Exercise 1.

Use list comprehension and print the result to solve these problems:

1. Make a list with the square number of numbers from 0 to 20.

In [ ]:
the_list = [a ** 2 for a in range(20)]
print(the_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

2. Make a list with the first 50 power of two.

In [ ]:
num_list = [2 ** y for y in [a + 1 for a in range(50)]]
print(num_list)

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288, 1048576, 2097152, 4194304, 8388608, 16777216, 33554432, 67108864, 134217728, 268435456, 536870912, 1073741824, 2147483648, 4294967296, 8589934592, 17179869184, 34359738368, 68719476736, 137438953472, 274877906944, 549755813888, 1099511627776, 2199023255552, 4398046511104, 8796093022208, 17592186044416, 35184372088832, 70368744177664, 140737488355328, 281474976710656, 562949953421312, 1125899906842624]

3. Calculate the square root of the first 100 numbers. 

**You will probably need to install math library with pip and import it in this file.**

In [ ]:
import math

In [ ]:
# Output has been rounded up to 3 decimals for demonstration pourposes
sqrt_list = [round(math.sqrt(n), 3) for n in range(100)]
print(sqrt_list, len(sqrt_list))

[0.0, 1.0, 1.414, 1.732, 2.0, 2.236, 2.449, 2.646, 2.828, 3.0, 3.162, 3.317, 3.464, 3.606, 3.742, 3.873, 4.0, 4.123, 4.243, 4.359, 4.472, 4.583, 4.69, 4.796, 4.899, 5.0, 5.099, 5.196, 5.292, 5.385, 5.477, 5.568, 5.657, 5.745, 5.831, 5.916, 6.0, 6.083, 6.164, 6.245, 6.325, 6.403, 6.481, 6.557, 6.633, 6.708, 6.782, 6.856, 6.928, 7.0, 7.071, 7.141, 7.211, 7.28, 7.348, 7.416, 7.483, 7.55, 7.616, 7.681, 7.746, 7.81, 7.874, 7.937, 8.0, 8.062, 8.124, 8.185, 8.246, 8.307, 8.367, 8.426, 8.485, 8.544, 8.602, 8.66, 8.718, 8.775, 8.832, 8.888, 8.944, 9.0, 9.055, 9.11, 9.165, 9.22, 9.274, 9.327, 9.381, 9.434, 9.487, 9.539, 9.592, 9.644, 9.695, 9.747, 9.798, 9.849, 9.899, 9.95] 100

4. Create this list `[-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]`.

In [ ]:
this_list = [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

5. Filter only negative and zero in the list `numbers`.

In [ ]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

In [ ]:
filtering = [n for n in numbers if n in this_list]

In [ ]:
filtering1 = [n for n in numbers if n > 0 ]
print(filtering1)

[2, 4, 6]

6. Find the odd numbers from 1-100 and put them on a list.

In [ ]:
odd_ones = [n for n in [a + 1 for a in range(100)] if n % 2 != 0]
print(odd_ones)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

7. Find all of the numbers from 1-1000 that are divisible by 7.

In [ ]:
seven_ones = [n for n in [a + 1 for a in range(1000)] if n % 7 == 0]
print(seven_ones)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [ ]:
seven_ones = [n for n in [a + 1 for a in range(1000)] if n % 7 == 0]
print(seven_ones)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

8. Remove all of the vowels in a string. 

   Hint: make a list of the non-vowels.

In [ ]:
teststring = "When you reach the end of your rope, tie a knot in it and hang on."

In [ ]:
import string

In [ ]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [ ]:
vowels = ['a', 'e', 'i', 'o', 'u']

non_vowels = [n for n in string.ascii_lowercase if n not in vowels]
print(non_vowels)

['b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']

9. Find the capital letters (and not white space) in the sentence `"The Way To Get Started Is To Quit Talking And Begin Doing."`.

In [ ]:
string = "The Way To Get Started Is To Quit Talking And Begin Doing."

the_list = [s for s in string if s.isupper()]
print(the_list)

['T', 'W', 'T', 'G', 'S', 'I', 'T', 'Q', 'T', 'A', 'B', 'D']

10. Find all the consonants in the sentence `"Tell me and I forget. Teach me and I remember. Involve me and I learn."`.

In [ ]:
string_searched = "Tell me and I forget. Teach me and I remember. Involve me and I learn."

In [ ]:
consonants = [n.lower() for n in string_searched if n not in vowels and (n != " " and n != ".")]
set(consonants)

{'b', 'c', 'd', 'f', 'g', 'h', 'i', 'l', 'm', 'n', 'r', 't', 'v'}

11. Create 4 lists of 10 random numbers between 0 and 100 each. 

**You will probably need to import random module.**

In [ ]:
import random

[[random.randint(0, 100) for e in range(10)] for i in range(4)]

[[9, 56, 57, 28, 53, 0, 25, 65, 47, 67],
 [77, 65, 13, 62, 4, 38, 47, 23, 2, 7],
 [59, 37, 17, 21, 3, 97, 2, 91, 74, 88],
 [33, 12, 43, 68, 91, 78, 43, 38, 55, 20]]

### Exercise 2.

1. Flatten the following list of lists of lists to a one dimensional list :
```python
expected output:
[1, 2, 3, 4, 5, 6, 7, 8, 9]
```

In [ ]:
list_of_lists =[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
flatten_list = [item for subl in list_of_lists for item in subl]
flatten_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

2. Flatten the following list to a new list, and capitalize the elements of the new list:
```python
expected output:
['SPAIN', 'MADRID', 'FRANCE', 'PARIS', 'PORTUGAL', 'LISBON']
```

In [ ]:
countries = [[('Spain', 'Madrid')], [('France', 'Paris')], [('Portugal', 'Lisbon')]]

In [ ]:
[elem.upper() for listas in countries for tuplas in listas for elem in tuplas]

['SPAIN', 'MADRID', 'FRANCE', 'PARIS', 'PORTUGAL', 'LISBON']

3. Change the `countries` list to a list of dictionaries:
```python
expected output:
[{'country': 'SPAIN', 'city': 'MADRID'},
{'country': 'FRANCE', 'city': 'PARIS'},
{'country': 'PORTUGAL', 'city': 'LISBON'}]
```

In [ ]:
dict_list = [{'Country': item[0].upper(), 'City': item[1].upper()} for subl in countries for item in subl]
dict_list

[{'Country': 'SPAIN', 'City': 'MADRID'},
 {'Country': 'FRANCE', 'City': 'PARIS'},
 {'Country': 'PORTUGAL', 'City': 'LISBON'}]

4. Change the following list of lists to a list of concatenated strings:
```python
expected output:
['Gabriel Vazquez', 'Clara Piniella', 'Borja Puig', 'Mónica Villasuso']
```

In [ ]:
names = [[('Gabriel', 'Vazquez')], [('Clara', 'Piniella')], [('Borja', 'Puig')], [('Mónica', 'Villasuso')]]

In [ ]:
names_2 = [' '.join(item) for subl in names for item in subl]
print(names_2)

['Gabriel Vazquez', 'Clara Piniella', 'Borja Puig', 'Mónica Villasuso']

5. Convert the numbers of the following nested list to floats. Use **floats_list** as the name of the list.

In [ ]:
big_list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [ ]:
floats_list = [float(item) for subl in big_list_of_lists for item in subl]
print(floats_list)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

6. Using list comprehension create the following list of tuples:
```python
expected output: 
[(0, 1, 0, 0, 0, 0, 0),
(1, 1, 1, 1, 1, 1, 1),
(2, 1, 2, 4, 8, 16, 32),
(3, 1, 3, 9, 27, 81, 243),
(4, 1, 4, 16, 64, 256, 1024),
(5, 1, 5, 25, 125, 625, 3125),
(6, 1, 6, 36, 216, 1296, 7776),
(7, 1, 7, 49, 343, 2401, 16807),
(8, 1, 8, 64, 512, 4096, 32768),
(9, 1, 9, 81, 729, 6561, 59049),
(10, 1, 10, 100, 1000, 10000, 100000)]
```

In [ ]:
[tuple([e] + [e**power for power in range(6)]) for e in range(11)]

[(0, 1, 0, 0, 0, 0, 0),
 (1, 1, 1, 1, 1, 1, 1),
 (2, 1, 2, 4, 8, 16, 32),
 (3, 1, 3, 9, 27, 81, 243),
 (4, 1, 4, 16, 64, 256, 1024),
 (5, 1, 5, 25, 125, 625, 3125),
 (6, 1, 6, 36, 216, 1296, 7776),
 (7, 1, 7, 49, 343, 2401, 16807),
 (8, 1, 8, 64, 512, 4096, 32768),
 (9, 1, 9, 81, 729, 6561, 59049),
 (10, 1, 10, 100, 1000, 10000, 100000)]

### Exercise 3.

1. First, create a range from 100 to 160 with steps of 10.
   Second, using **dict comprehension**, create a dictionary where each number in the range is the key and each item divided by 100 is the value.

In [ ]:
# Take one

range_finder = range(100, 160, 10)
dict_of_ranges = {i:i/100 for i in range_finder}

print(f'Range: {range_finder}')
print(f'\n\nDictionary: {dict_of_ranges}')

Range: range(100, 160, 10)


Dictionary: {100: 1.0, 110: 1.1, 120: 1.2, 130: 1.3, 140: 1.4, 150: 1.5}

In [ ]:
# Take 2
# Using the numpy library to create the range interval.

import numpy as np

range_finder = np.arange(100, 160, 10).tolist()
value_finder = [n/10 for n in range_finder]

In [ ]:
dict_of_ranges = {key: value for key, value in zip(range_finder, value_finder)}

print(f'Lists: {range_finder}, {value_finder}')
print(f'\n\nDictionary: {dict_of_ranges}')

Lists: [100, 110, 120, 130, 140, 150], [10.0, 11.0, 12.0, 13.0, 14.0, 15.0]


Dictionary: {100: 10.0, 110: 11.0, 120: 12.0, 130: 13.0, 140: 14.0, 150: 15.0}

2. Using **dict comprehension** and a conditional argument create a dictionary from `curr_dict` where only the key:value pairs with value above 2000 are taken to the new dictionary.

In [ ]:
curr_dict = {"Netflix":4950,"HBO":2400,"Amazon":1800, "Movistar":1700}

In [ ]:
updated_dict = {key: value for (key,value) in curr_dict.items() if value > 2000}
updated_dict

{'Netflix': 4950, 'HBO': 2400}

3. Create a function that receives two lists `list1` and `list2` by parameter and returns a dictionary with each element of `list1` as keys and the elements of `list2` as values. This time use **dict comprehension** to do so.

In [ ]:
def dict_comprehension_creator (list_1, list_2):
    """
    This function creates a dictionary using list comprehension from two (2) lists: list_1 and list_2. Being list_1 the keys and list_2 the values
    """

    to_return = {key: value for (key,value) in zip(list_1, list_2)}
    
    return to_return

In [ ]:
# I'm going to use the range_finder and value_finder lists... you go make your own!

my_dict = dict_comprehension_creator(list_1= range_finder, list_2= value_finder)
my_dict

{100: 10.0, 110: 11.0, 120: 12.0, 130: 13.0, 140: 14.0, 150: 15.0}

### Bonus Track.

1. Make a Python program that, from the strings `" | "` and `" _ "`, shows an 8x8 **chessboard** on the screen.

   Develop the program in a `.py` file that will be run through the terminal. 
 
   From the folder that contains the corresponding `.py`, it will be executed with the following command:` python3 program_name.py`

In [ ]:
"_|" * 8

'_|_|_|_|_|_|_|_|'

In [ ]:
# This program creates a chessboard

def chessboard (dimensions):
    """
                        ---What it does---
    This function creates a chessboard and prints it
    
    ---What it needs---
        - The dimensions of the board (dimensions)
    
    ---What it returns---
        A chessboard
    """

    space = '|_|'
    spaces = [space for n in range(dimensions)]
    board = [spaces * dimensions]
    print(f'{spaces}\n'*8)

    coords_x = 'A\tB\tC'
    


    uno = [f'^{number +1}_' for number in range(dimensions)]
    print(uno)

chessboard(8)

['|_|', '|_|', '|_|', '|_|', '|_|', '|_|', '|_|', '|_|']
['|_|', '|_|', '|_|', '|_|', '|_|', '|_|', '|_|', '|_|']
['|_|', '|_|', '|_|', '|_|', '|_|', '|_|', '|_|', '|_|']
['|_|', '|_|', '|_|', '|_|', '|_|', '|_|', '|_|', '|_|']
['|_|', '|_|', '|_|', '|_|', '|_|', '|_|', '|_|', '|_|']
['|_|', '|_|', '|_|', '|_|', '|_|', '|_|', '|_|', '|_|']
['|_|', '|_|', '|_|', '|_|', '|_|', '|_|', '|_|', '|_|']
['|_|', '|_|', '|_|', '|_|', '|_|', '|_|', '|_|', '|_|']

['^1_', '^2_', '^3_', '^4_', '^5_', '^6_', '^7_', '^8_']

!['togood'](https://i.pinimg.com/originals/de/f5/2f/def52fe41d695d8feebd2cdc194da929.png)