# Python | day 4 | for loop, functions (feat. basics & if/else)

### Exercise 0.1 - Python Basics

1. What do we use to make a line break in a print? And for a tab stop?

have a look ---> http://elclubdelautodidacta.es/wp/2012/04/python-capitulo-31-exprimiendo-la-funcion-print/

In [112]:
print("ja"); print("jaja")
print("oh\tnotfunny")

ja
jaja
oh	notfunny

2. Make a converter from dollars to euros. You'll have to use input.

In [1]:
def dollar_to_euro(ammount):
    print(0.84 * int(ammount))

ammount = input()

dollar_to_euro(ammount)

0.84

3. Declare two strings, one will be your first name and the other your last name. Declare your age in another variable. Print a sentence which include those variables, using ```f{}```. Wtf is that? check this out **-->** https://realpython.com/python-string-formatting/

In [6]:
name = "Marina"
lastname = "Serrano"
age = 25

def frase(name, lastname, age):
    return f"Hey, my name is {name} {lastname}, i am {age} and i have no idea of what i am doing."

frase("Marina", "Serrano", "25")

'Hey, my name is Marina Serrano, i am 25 and i have no idea of what i am doing.'

In [4]:
frase("Marina", "Serrano", "25")

'Hey, my name is Marina Serrano, i am 25 and i have no idea of what i am doing.'

4. Given the list `[4,7, -3]`, calculate its maximum, minimum and sum.

In [11]:
list = [4, 7, -3]
max(list), min(list), sum(list)

(7, -3, 8)

5. Save the number `38.38276252728` to a variable called `number_dec` and round it to 5 decimal places.

In [21]:
number_dec = 38.38276252728
round(number_dec,5)

38.38276

6. Declare a variable `phrase` with the value `"Born to be wild"` and make it uppercase, then lowercase, divide it by spaces, and finally, replace `"wild"` with `"Geek."`

In [30]:
phrase = "Born to be wild"
phrase.upper(), phrase.lower(), phrase.split(), phrase.replace("wild", "Geek")

('BORN TO BE WILD',
 'born to be wild',
 ['Born', 'to', 'be', 'wild'],
 'Born to be Geek')

7. Create a program where two inputs are collected, and the output of the program is a boolean which tell the user whether those inputs are the same or not.

In [34]:
n = input()
t = input()
def comprobacion(n, t):
    if n == t:
        print(True)
    elif n != t:
        print(False)

comprobacion(n,t)

False

### Exercise 0.2 - If/else

1. Create a decission tree using if/else sentences, to determine the price of the movies ticket. If the client's age is between 5 and 15 years, both included, the price will be 5, if she/he is retired and the movie is one of the `peliculas_discount`, the price is 4. In any other case, it will be 7 euros.

You should create the list of `peliculas_discount` with your favourites movies.

In [115]:
peliculas_discount = ["LODR","E.T", "Corpse Bride", "Sweeney Todd","Harry Potter"]
input("age")

for film in (peliculas_discount):
    if isinstance(age, int) >= 5 and isinstance(age, int) <= 15:
       print("it will be 5")
       break

    elif isinstance(age, int) >= 65 and film in peliculas_discount:
        print("it will be 4")
        break

    else:
        print("it will be 7 euros")
        break

it will be 7 euros

### Exercise 1 - For

1. You are witnessing an epic battle between two powerful sorcerers: Gandalf and Saruman. Each sorcerer has 10 spells of variable power in their mind and they are going to throw them one after the other. The winner of the duel will be the one who wins more of those clashes between spells. Spells are represented as a list of 10 integers whose value equals the power of the spell.

```python
gandalf = [10, 11, 13, 30, 22, 11, 10, 33, 22, 22]
saruman = [23, 66, 12, 43, 12, 10, 44, 23, 12, 17]
```

For example:

The first clash is won by Saruman: 10 against 23, wins 23
The second clash wins Saruman: 11 against 66, wins 66
etc.
You will create two variables, one for each sorcerer, where the sum of clashes won will be stored. Depending on which variable is greater at the end of the duel, you will show one of the following three results on the screen:
```
Gandalf wins
Saruman wins
Tie
```

In [109]:
#EHHHHHHHHHHHHHHHHHHHHHHHHHHHH
gandalf = [10, 11, 13, 30, 22, 11, 10, 33, 22, 22]
saruman = [23, 66, 12, 43, 12, 10, 44, 23, 12, 17]
gandalf_win = [0]
saruman_win = [0]

for i, e in enumerate(saruman):
    if  gandalf[i] < saruman[i]:
        saruman_win.append(1) 
    elif gandalf[i] > saruman [i]:
       gandalf_win.append(1)

if gandalf_win > saruman_win:
    print("Gandalf wins, wiiiiiii")
elif gandalf_win < saruman_win:
    print("saruman wins we will die soon")
else:
    print("Tie, WHERE IS FRODO WITH THE RING??")

Gandalf wins, wiiiiiii

### Exercise 2 - Functions

1. Write a function program to sum up two given different numbers.

In [40]:
def suma(x, y):
    print(int(x) + int(y))

x = input()
y = input()
suma(x,y)

36

Call the function you've just defined to sum up: 
    - 5 and 6
    - -3 and 10
    - 99 and 789

In [42]:
suma(5, 6)
suma(3,10)
suma(99,789)

11
13
888

### Bonus Track

2. Write a Python program to convert a tuple of characters into a string.

    - Sample tuple: `("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")`
    - Expected output : `"THE BRIDGE"`
    
Hint: Turn it into a list.

In [98]:
tupla = ("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")

list(tupla)

TypeError: 'list' object is not callable

3. Write a Python program to generate a list where the values are square of numbers between 1 and 30 (both included), and return a list of first and last 5 elements of the list.

4. Create a program that calculates the average.

The program will ask the user to specify how many numbers you want to enter, and will show a prompt to include number by number to a list, and then calculate the average of each number in that list.

# If you made it till here you did a fantastic work!

!["holo"](https://img-9gag-fun.9cache.com/photo/aNg9wMK_460s.jpg)