# Python | Programación funcional

### Ejercicio 1.

1. Utiliza `reduce` para concatenar estas palabras en una frase
```Python
ejer_1 = ("to", "be", "or", "not", "to", "be", "that", "is", "the", "question")
```

In [18]:
from functools import reduce
ejer_1 = ("to", "be", "or", "not", "to", "be", "that", "is", "the", "question")
reduce(lambda x,y: x + " " + y , ejer_1)

'to be or not to be that is the question'

2. Obtén una nueva tupla con el cuadrado de cada elemento de la siguiente tupla

```Python
ejer_2 = (1,2,3,4,5)
```

In [19]:
ejer_2 = (1,2,3,4,5)
import math
squares = tuple(map(lambda x: x**2 , ejer_2))
squares

(1, 4, 9, 16, 25)

3. Filtra aquellos elementos que sean multiplos de 3 o de 5
```Python
ejer_3 = (1,2,3,4,5,15,21,22,33,34,35)
```

In [20]:
ejer_3 = (1,2,3,4,5,15,21,22,33,34,35)
list(filter(lambda x: x % 3 == 0 or x % 5 == 0, ejer_3))

[3, 5, 15, 21, 33, 35]

4. Convierte la siguiente tupla de pesetas a euros
```Python
ejer_4 = (1000, 8000, 20000000, 40000000)
```

In [21]:
0.006
ejer_4 = (1000, 8000, 20000000, 40000000)
euros = tuple(map(lambda peseta: str(round(peseta * 0.006)) + "€", ejer_4))
euros

('6€', '48€', '120000€', '240000€')

5. Convierte la siguiente lista de desconocidos a mayusculas
```Python
ejer_5 = ("Arya", "John", "Robb", "Bran", "Sansa", "Rickon")
```

In [22]:
ejer_5 = ("Arya", "John", "Robb", "Bran", "Sansa", "Rickon")
mayus = list(map(lambda x: x.upper(), ejer_5))
mayus

['ARYA', 'JOHN', 'ROBB', 'BRAN', 'SANSA', 'RICKON']

6. Realiza un conversor de dias de la semana en texto a numerico (1-7), usando `map`.
```Python
ejer_6 = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")
```

In [23]:
ejer_6 = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")
conversor = list(map(lambda x: ejer_6.index(x)+1, ejer_6))
conversor

[1, 2, 3, 4, 5, 6, 7]

In [24]:
ejer_6 = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")
lista = list(range(1,8))
completo =dict(zip(ejer_6, lista))
completo
lista1 = list(map(lambda value: value, completo.values()))
lista1

[1, 2, 3, 4, 5, 6, 7]

7. Utiliza `map` para multiplicar elemento a elemento estas dos tuplas
```Python
ejer_7_1 = (2, 5, 8)
ejer_7_2 = (6, 3, 2)
```

In [25]:
ejer_7_1 = (2, 5, 8)
ejer_7_2 = (6, 3, 2)
multiplicacion = tuple(map(lambda x, y: x * y, ejer_7_1, ejer_7_2))
multiplicacion

(12, 15, 16)

8. Crea una tupla nueva con todos los coches que no sean VW :)

```Python
ejer_8 = ("VW", "Audi", "Renault", "VW", "BMW")
```

In [26]:
ejer_8 = ("VW", "Audi", "Renault", "VW", "BMW")
tuple(filter(lambda x: x != "VW", ejer_8))

('Audi', 'Renault', 'BMW')

9. Dadas las siguientes fechas en formato string, quedate con aquellas del año 2020

```Python
ejer_9 = ("2019-04-08", "2020-10-10", "2020-01-22", "2019-07-13", "2019-02-01")
```

In [27]:
ejer_9 = ("2019-04-08", "2020-10-10", "2020-01-22", "2019-07-13", "2019-02-01")
tuple(filter(lambda x: "2020" in x , ejer_9))

('2020-10-10', '2020-01-22')

10. Filtra aquellos strings que sean [palíndromos](https://es.wikipedia.org/wiki/Pal%C3%ADndromo)
```Python
ejer_10 = ("php", "w3r", "Python", "abcd", "Java", "aaa")
```

In [28]:
ejer_10 = ("php", "w3r", "Python", "abcd", "Java", "aaa")

In [29]:
tuple(filter(lambda x: x[0] == x[2] , ejer_10))

('php', 'aaa')

### Bonus Track.

- Resuelve esta kata usando `map`
https://www.codewars.com/kata/554b4ac871d6813a03000035

Nota: si es demasiado difícil intenta resolverla sin usar `map` y si lo consigues, vuelve a resolverla usando `map`.

You are given a string of space separated numbers, and have to return the highest and lowest number.

In [30]:
string = "1 2 3 4 5"
#Usar split()
def high_low(numbers: str):
    return max(numbers.split(' ')), min(numbers.split(' '))

high_low(string)

('5', '1')

In [31]:
string = "1 2 3 4 5"
todo = list(map(lambda x: max(string.split(' ')), string))
print(todo)

['5', '5', '5', '5', '5', '5', '5', '5', '5']

In [49]:
string = "1 2 3 4 5"
lambda x, y: max(string.split(" ")), min(string.split(" ")

funciona_plis = list(map(lambda x, y: max(string.split(" ")), min(string.split(" ")), string))
print(todo)

SyntaxError: invalid syntax (<ipython-input-49-376b21796f20>, line 4)

In [40]:
string = "1 2 3 4 5"
high_low = lambda x: print(max(string.split(" ")), min(string.split(" ")))

In [41]:
string = "1 2 3 4 5"
funciona_plis = tuple(map(high_low, string))
funciona_plis

5 1
5 1
5 1
5 1
5 1
5 1
5 1
5 1
5 1

(None, None, None, None, None, None, None, None, None)

In [ ]:
#Pues si pero no