# 02 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [ ]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). Assign it to a variable called chipo.

This time we are going to pull data directly from the internet.

In [ ]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(address, sep = "\t")

In [ ]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Name of the most expensive products (item_name)

¿Recuerdas el `map`? En **pandas** tienes el método [`apply`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html) y para resolver este ejercicio te puede ser muy útil. 

Pero no acaba ahí https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas

In [ ]:
chipo['price_w'] = chipo.item_price.apply(lambda x: float(x[1:]))

In [ ]:
#1
ordenado = chipo.sort_values("price_w", ascending = False)
ordenado.head()

,order_id,quantity,item_name,choice_description,item_price,price_w
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75

In [ ]:
ordenado["price_w"].index[0]

3598

In [ ]:
chipo["item_name"][ordenado["price_w"].index[0]]

'Chips and Fresh Tomato Salsa'

In [ ]:
#2
chipo["item_name"][chipo.price_w == chipo.price_w.max()].values[0]

'Chips and Fresh Tomato Salsa'

In [ ]:
#3 
chipo.price_w.idxmax()

3598

In [ ]:
chipo["item_name"][chipo.price_w.idxmax()]

'Chips and Fresh Tomato Salsa'

### Step 4. How many products cost more than $10.00?

In [ ]:
chipo["price_ud"] = chipo["price_w"] / chipo['quantity']

In [ ]:
chipo[chipo.quantity == 15]

,order_id,quantity,item_name,choice_description,item_price,price_w,price_ud
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25,2.95

In [ ]:
chipo[chipo.price_ud > 10].shape[0]

1034

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.drop_duplicates.html

In [ ]:
chipo['item_name'].nunique()

50

In [ ]:
#1
chipo[["item_name", "item_price"]].drop_duplicates("item_name")

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
6                             Side of Chips     $1.69
7                             Steak Burrito    $11.75
8                          Steak Soft Tacos     $9.25
10                      Chips and Guacamole     $4.45
11                     Chicken Crispy Tacos     $8.75
12                       Chicken Soft Tacos     $8.75
16                          Chicken Burrito     $8.49
18                              Canned Soda     $2.18
21                         Barbacoa Burrito     $8.99
27                         Carnitas Burrito     $8.99
33                            Carnitas Bowl     $8.99
34                            Bottled Water     $1.09
38    Chips and Tomatillo Green Chili Salsa     $2.95
39                            Barbacoa Bowl    $11.75
40                                    Chips     $2.15
44                       Chicken Salad Bowl     $8.75
54                               Steak Bowl     $8.99
56                      Barbacoa Soft Tacos     $9.25
57                           Veggie Burrito    $11.25
62                              Veggie Bowl    $11.25
92                       Steak Crispy Tacos     $9.25
111     Chips and Tomatillo Red Chili Salsa     $2.95
168                   Barbacoa Crispy Tacos    $11.75
186                       Veggie Salad Bowl    $11.25
191      Chips and Roasted Chili-Corn Salsa     $2.39
233      Chips and Roasted Chili Corn Salsa     $2.95
237                     Carnitas Soft Tacos     $9.25
250                           Chicken Salad    $10.98
263                       Canned Soft Drink     $1.25
281                        Steak Salad Bowl    $23.78
298                       6 Pack Soft Drink     $6.49
300     Chips and Tomatillo-Red Chili Salsa     $2.39
445                                    Bowl    $22.20
510                                 Burrito     $7.40
520                            Crispy Tacos     $7.40
554                   Carnitas Crispy Tacos     $9.25
664                             Steak Salad     $8.99
674       Chips and Mild Fresh Tomato Salsa     $3.00
738                       Veggie Soft Tacos    $11.25
1132                    Carnitas Salad Bowl    $11.89
1229                    Barbacoa Salad Bowl    $11.89
1414                                  Salad     $7.40
1653                    Veggie Crispy Tacos     $8.49
1694                           Veggie Salad     $8.49
3750                         Carnitas Salad     $8.99

In [ ]:
#2
chipo.groupby('item_name')['price_ud'].max()

item_name
6 Pack Soft Drink                         6.49
Barbacoa Bowl                            11.75
Barbacoa Burrito                         11.75
Barbacoa Crispy Tacos                    11.75
Barbacoa Salad Bowl                      11.89
Barbacoa Soft Tacos                      11.75
Bottled Water                             1.50
Bowl                                      7.40
Burrito                                   7.40
Canned Soda                               1.09
Canned Soft Drink                         1.25
Carnitas Bowl                            11.75
Carnitas Burrito                         11.75
Carnitas Crispy Tacos                    11.75
Carnitas Salad                            8.99
Carnitas Salad Bowl                      11.89
Carnitas Soft Tacos                      11.75
Chicken Bowl                             11.25
Chicken Burrito                          11.25
Chicken Crispy Tacos                     11.25
Chicken Salad                            10.98
Chicken Salad Bowl                       11.25
Chicken Soft Tacos                       11.25
Chips                                     2.15
Chips and Fresh Tomato Salsa              2.95
Chips and Guacamole                       4.45
Chips and Mild Fresh Tomato Salsa         3.00
Chips and Roasted Chili Corn Salsa        2.95
Chips and Roasted Chili-Corn Salsa        2.39
Chips and Tomatillo Green Chili Salsa     2.95
Chips and Tomatillo Red Chili Salsa       2.95
Chips and Tomatillo-Green Chili Salsa     2.39
Chips and Tomatillo-Red Chili Salsa       2.39
Crispy Tacos                              7.40
Izze                                      3.39
Nantucket Nectar                          3.39
Salad                                     7.40
Side of Chips                             1.69
Steak Bowl                               11.75
Steak Burrito                            11.75
Steak Crispy Tacos                       11.75
Steak Salad                               8.99
Steak Salad Bowl                         11.89
Steak Soft Tacos                         11.75
Veggie Bowl                              11.25
Veggie Burrito                           11.25
Veggie Crispy Tacos                       8.49
Veggie Salad                              8.49
Veggie Salad Bowl                        11.25
Veggie Soft Tacos                        11.25
Name: price_ud, dtype: float64

### Step 6. Sort by the name of the item

In [ ]:
chipo.sort_values("item_name")

,order_id,quantity,item_name,choice_description,item_price,price_w,price_ud
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49,6.49
...,...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

V1

In [ ]:
chipo.loc[chipo["price_w"].idxmax()]['quantity']

15

V2

In [ ]:
chipo.loc[chipo["price_w"] == chipo["price_w"].max()]['quantity'].values[0]

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
chipo[chipo.item_name == "Veggie Salad Bowl"].shape[0]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [ ]:
#1 si consideramos que el pedido se corresponde a cada observación
chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)].shape[0]

20

In [ ]:
#2 si consideramos que el pedido se corresponde con el order_id

In [ ]:
df_canned_soda = chipo[chipo.item_name == "Canned Soda"]

In [ ]:
df_canned_soda

,order_id,quantity,item_name,choice_description,item_price,price_w,price_ud
18,9,2,Canned Soda,[Sprite],$2.18,2.18,1.09
28,14,1,Canned Soda,[Dr. Pepper],$1.09,1.09,1.09
51,23,2,Canned Soda,[Mountain Dew],$2.18,2.18,1.09
53,24,1,Canned Soda,[Sprite],$1.09,1.09,1.09
107,47,1,Canned Soda,[Dr. Pepper],$1.09,1.09,1.09
...,...,...,...,...,...,...,...
3897,1562,1,Canned Soda,[Mountain Dew],$1.09,1.09,1.09
3926,1575,1,Canned Soda,[Dr. Pepper],$1.09,1.09,1.09
3936,1578,1,Canned Soda,[Diet Dr. Pepper],$1.09,1.09,1.09
4008,1604,1,Canned Soda,[Diet Coke],$1.09,1.09,1.09
4051,1621,1,Canned Soda,[Sprite],$1.09,1.09,1.09

In [ ]:
suma_aux = df_canned_soda.groupby('order_id')['quantity'].sum()
suma_aux

order_id
9       2
14      1
23      2
24      1
47      1
       ..
1562    1
1575    1
1578    1
1604    1
1621    1
Name: quantity, Length: 94, dtype: int64

In [ ]:
resulado = suma_aux[suma_aux > 1]
print(len(resulado))

24