# 02 - Filtering and Sorting Data

### Step 1. Import the necessary libraries

### Step 2. Import the dataset `Euro_2012_stats_TEAM` from folder `data`. Assign it to a variable called euro12

### Step 3. Use `.info()` to get a glimpse of the dataframe

### Step 4. Select only the `Goal` column

### Step 5. How many teams participated in the Euro2012?

### Step 6. What is the number of columns in the dataset?

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called `discipline`

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

### Step 9. Calculate the mean Yellow Cards given per Team

### Step 10. Filter teams that scored more than 6 goals

### Step 11. Select the teams that start with G

### Step 12. Select the first 7 columns

### Step 13. Select all columns except the last 3

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia