# 01 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [ ]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|', index_col='user_id')
users

### Step 4. See the first 25 entries
Solve it by 2 different ways

### Step 5. See the last 10 entries

### Step 6. What is the number of observations in the dataset?
Solve it by 2 different ways

### Step 7. What is the number of columns in the dataset?
Solve it by 2 different ways

### Step 8. Print the name of all the columns.

### Step 9. How is the dataset indexed? Get the index values

### Step 10. What is the data type of each column?
Solve it by 2 different ways

### Step 11. Print only the occupation column
Solve it by 2 different ways

### Step 12. How many different occupations are in this dataset? How many users per occupation are in the dataset?

### Step 13. What is the most frequent occupation?

### Step 14. Summarize the DataFrame.

### Step 15. Summarize all the columns

### Step 16. Summarize only the occupation column

### Step 17. What is the mean age of users?

### Step 18. What is the age with least occurrence?