# 01 - Getting and knowing your Data

### Step 1. Import the necessary libraries.

###  Step 2. Import the data `food_100.csv` called it `food`

### Step 3. Run this cell only once, in order to delete the column `Unnamed: 0`

### Step 4. See the first 5 entries

### Step 5. What is the number of observations in the dataset?

### Step 6. What is the number of columns in the dataset?

### Step 7. Print the name of all the columns.

### Step 8. What is the name of 105th column? Position, not index

### Step 9. What is the type of the observations of the 105th column?

### Step 10. How is the dataset indexed?

### Step 11. What is the product name of the 19th observation?