# 03 - Deleting & handling missing values - Iris

### Step 1. Import the necessary libraries

In [5]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [6]:
iris = pd.read_csv("iris.data")
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

### Step 4. Call the columns for the dataset as follows:
1. sepal_length (in cm)
2. sepal_width (in cm)
3. petal_length (in cm)
4. petal_width (in cm)
5. class

In [7]:
iris.columns = ['sepal_length','sepal_width', 'petal_length', 'petal_width', 'class']
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

### Step 5.  Is there any missing value in the dataframe?

In [13]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [12]:
pd.isnull(iris).sum()
#Aprendiendo formas de sintaxis

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [23]:
iris.iloc[10:30,2:3] = np.nan
iris["petal_length"][9:31]

9     1.5
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
30    1.5
Name: petal_length, dtype: float64

### Step 7. Good, now lets substitute the NaN values to 1.0

In [24]:
iris["petal_length"] = iris["petal_length"].fillna(1)
iris["petal_length"][9:31]

9     1.5
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.0
21    1.0
22    1.0
23    1.0
24    1.0
25    1.0
26    1.0
27    1.0
28    1.0
29    1.0
30    1.5
Name: petal_length, dtype: float64

### Step 8. Now let's delete the column class

In [29]:
iris = iris.drop("class", axis =1)

### Step 9.  Set the first 3 rows as NaN

In [9]:
iris.iloc[0:3,:] = np.nan
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           NaN          NaN           NaN          NaN          NaN
1           NaN          NaN           NaN          NaN          NaN
2           NaN          NaN           NaN          NaN          NaN
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

### Step 10.  Delete the rows that have NaN

In [11]:
iris = iris.dropna(axis=0)
iris

     sepal_length  sepal_width  petal_length  petal_width           class
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
5             4.6          3.4           1.4          0.3     Iris-setosa
6             5.0          3.4           1.5          0.2     Iris-setosa
7             4.4          2.9           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[146 rows x 5 columns]

### Step 11. Reset the index so it begins with 0 again

In [13]:
iris = iris.reset_index()
iris

,index,sepal_length,sepal_width,petal_length,petal_width,class
0,3,5.0,3.6,1.4,0.2,Iris-setosa
1,4,5.4,3.9,1.7,0.4,Iris-setosa
2,5,4.6,3.4,1.4,0.3,Iris-setosa
3,6,5.0,3.4,1.5,0.2,Iris-setosa
4,7,4.4,2.9,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
141,144,6.7,3.0,5.2,2.3,Iris-virginica
142,145,6.3,2.5,5.0,1.9,Iris-virginica
143,146,6.5,3.0,5.2,2.0,Iris-virginica
144,147,6.2,3.4,5.4,2.3,Iris-virginica
145,148,5.9,3.0,5.1,1.8,Iris-virginica